// stylelint-disable selector-no-universal, selector-no-qualifying-type, property-no-vendor-prefix, selector-no-vendor-prefix

html {
  height: 100%;
  box-sizing: border-box;

  // Honestly not too sure but bootstrap did it.....
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: $cl-black--transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  background: $cl-pagebg;
  background-color: $cl-pagebg;
  cursor: default;
}

body.is-scroll-locked {
  position: fixed;
  overflow: hidden;

  // Overriding old class name
  // scss-lint:disable SelectorFormat
  .bottom-bar {
    bottom: -48px;
    transition: bottom 0.1s ease-in;
  }
}

aside,
footer,
header,
main,
nav,
section {
  display: block;
}

[hidden] {
  display: none;
}

a {
  background: transparent;
  color: $cl-hyperlink;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    outline: 0;
  }
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

hr {
  flex-basis: 1000000px;
  border-top: 1px solid $cl-border;
  border-width: 0;
  border-style: hidden;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  // stylelint-disable-next-line sh-waqar/declaration-use-variable
  color: inherit;
  font: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

// ets the text selection color
::-moz-selection {
  background-color: $cl-secondary-1;
  color: $cl-neutral-5;
}

::selection {
  background-color: $cl-secondary-1;
  color: $cl-neutral-5;
}

// Remove number spinners on webkit browers
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

// Removes clear 'x' on edge browsers.
input::-ms-clear {
  display: none;
}
