.c-loan-reality-card__agreement {
  @include flex-container(center, middle, $wrap: false);
  @include flex-item();
  margin-top: 16px;
}

.c-loan-reality-card__agreement-text {
  @include flex-container(center, bottom);
  @include flex-item($grow: 1);
  padding-left: 16px;
  font-size: 12px;
  font-weight: 400;
}

.c-loan-reality-card__tip-box {
  @include flex-item($grow: 1);
  padding: 24px;
  transition: 0.5s;
  border-radius: 4px;
  background-color: $cl-neutral-2;
  opacity: 0;
  visibility: hidden;
}

.c-loan-reality-card__tip-box--show {
  opacity: 1;
  visibility: visible;
}

.c-loan-reality-card__tip-box-title {
  padding-bottom: 24px;
  font-weight: 600;
}

.c-loan-reality-card__learn-more {
  @include flex-item($grow: 1);
  padding: 24px;
  text-align: center;

  > a {
    font-size: 12px;
    text-decoration: underline;
  }
}

.c-loan-reality-card__agreement-error {
  @include flex-container(center, top);
  @include flex-item($grow: 1);
  padding: 16px;
  color: $cl-error;
  font-size: 12px;
  text-align: center;
}

.c-loan-reality-card__answer-error {
  @include flex-container();
  @include flex-item($grow: 1);
}

.c-loan-reality-card__answer-error-title {
  padding-bottom: 4px;
  color: $cl-error;
  font-weight: 600;
}

.c-loan-reality-card__answer-error-text {
  padding: 4px 16px;
  border-left: 4px solid $cl-error;
}

.c-loan-reality-card__get-started-link {
  padding: 24px 8px 8px;
  font-size: 12px;
  text-align: center;

  > a {
    text-decoration: underline;
  }
}

.c-loan-reality-card__form-wrapper {
  @include flex-container(center, $wrap: false);
  padding: 16px 0;
}

.c-loan-reality-card__tips-wrapper {
  @include flex-container(center);
  padding: 24px;
}

.c-loan-reality-card__form-button-container {
  @include flex-container(center, $wrap: false);
  @include flex-item(100%);
  padding: 16px;
}

.c-loan-reality-card__form-button {
  @include flex-item();
  padding: 16px;
}

.c-loan-reality-card__down-arrow-container {
  @include flex-container(center, bottom);
  @include flex-item(100%);
  padding: 16px;

  .c-loan-reality-card__down-arrow {
    width: 48px;
    height: 48px;
    padding: 8px 4px 0 12px;
    border-radius: 50%;
    background-color: $cl-secondary-2;
    opacity: 0.3;

    ::after {
      display: inline-block;
      width: 24px;
      height: 24px;
      transform: rotate(135deg);
      border-top: 4px solid $cl-white;
      border-right: 4px solid $cl-white;
      content: '';
    }
  }
}

.c-loan-reality__institution-container {
  @include flex-container();
  margin-top: 16px;
}

.c-loan-reality__institution-wrapper {
  @include flex-container($wrap: false);
  @include flex-item(100%);
  padding: 0;
  border-bottom: 1px solid $cl-neutral-2;
  cursor: pointer;

  &:first-child {
    border-top: 1px solid $cl-neutral-2;
  }

  > a {
    @include flex-container($align-items: middle, $wrap: false);
    @include flex-item(100%);
  }
}

.c-loan-reality__institution-name {
  @include flex-item($grow: 1);
  color: $cl-neutral-5;
}

.c-loan-reality__arrow-right-container {
  @include flex-container($align-items: middle);
  @include flex-item($max: 50px);
  padding-bottom: 24px;

  .c-loan-reality__arrow-right {
    position: relative;
    top: 12px;
    width: 32px;
    height: 32px;
    padding: 8px 4px 0 12px;
    border-radius: 50%;

    ::after {
      display: inline-block;
      width: 16px;
      height: 16px;
      transform: rotate(45deg);
      border-top: 2px solid $cl-neutral-3;
      border-right: 2px solid $cl-neutral-3;
      content: '';
    }
  }
}

.c-loan-reality-card__mfa-image-container {
  @include flex-container(center, $wrap: false);
  @include flex-item(100%);
  padding: 8px;
}

.c-loan-reality-card__mfa-image {
  @include flex-item();
}
