.o-card {
  position: relative;
  @include flex-container($direction: column);
  margin: 16px 8px;
  overflow: hidden;
  border-radius: 4px;
}

.o-card__header {
  @include flex-item($grow: 0);
  padding: 24px 16px;
}

.o-card__content {
  @include flex-container($align-content: top, $align-items: top);
  @include flex-item($grow: 1);
}

.o-card__footer {
  @include flex-container();
  @include flex-item($grow: 0);
}
