/* ----| New Page |---- */
.o-new-page {
  @include flex-item(100%, $max: 100%);
  @include flex-container();
}

.o-new-page.o-new-page--white {
  padding-bottom: 160px;
  background-color: $cl-white;
}

.o-new-page._o-new-page--set-to-be-100vh-high {
  height: 100vh;
  @include flex-container(center, top, top);
}

/* ----| Default Layout |---- */
.o-default-layout {
  @include flex-container($direction: column);
  align-items: center;
  min-height: 100vh;

  // stylelint-disable-next-line selector-no-universal
  > * {
    @include flex-item($grow: 0, $shrink: 0);
    width: 100%;
  }

  .o-content {
    @include flex-item($grow: 1);
    @include flex-container(center, top, top);
  }
}
