.o-site-container {
  @include site-container;
  @include flex-container();
}

.o-full-width-container {
  @include flex-container();
  flex-basis: 100%;
  width: 100%;
}

.o-container {
  flex-basis: 9000px;
  max-width: calc(100% + 32px);
  margin-right: -16px;
  margin-left: -16px;

  @include flex-container();
}

.o-container.o-container--sm-spacing {
  max-width: calc(100% + 16px);
  margin-right: -8px;
  margin-left: -8px;

  > .o-section {
    max-width: calc(100% - 16px);
    margin-right: 8px;
    margin-left: 8px;
  }

  > .o-card {
    margin-right: 8px;
    margin-left: 8px;
  }
}

.o-container.o-container--lg-spacing {
  max-width: calc(100% + 80px);
  margin-right: -40px;
  margin-left: -40px;

  > .o-section {
    max-width: calc(100% - 80px);
    margin-right: 40px;
    margin-left: 40px;
  }

  > .o-card {
    margin-right: 40px;
    margin-left: 40px;
  }
}

.o-container.o-container--xl-spacing {
  max-width: calc(100% + 128px);
  margin-right: -64px;
  margin-left: -64px;

  > .o-section {
    max-width: calc(100% - 128px);
    margin-right: 64px;
    margin-left: 64px;
  }

  > .o-card {
    margin-right: 64px;
    margin-left: 64px;
  }
}

.o-section {
  max-width: calc(100% - 32px);
  margin-right: 16px;
  margin-left: 16px;
  @include flex-item(640px, 6);
}

.o-section.o-section--sm-spacing {
  max-width: calc(100% - 16px);
  margin-right: 8px;
  margin-left: 8px;
}

.o-section.o-section--aside {
  @include flex-item(320px, 1);
}

.o-section.o-section--nba-aside {
  @include flex-item(320px, 1);
  height: 100%;
  padding-bottom: 32px;
}

.o-section--first-on-mobile {
  @include if-screen-smaller-than(sm) {
    order: -1;
  }
}
