.c-why-isnt-nav-free-container {
  @include flex-container(center);
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $cl-neutral-2;
  text-align: center;

  > h3 {
    width: 100%;
    padding: 16px;
  }

  > p {
    max-width: 400px;
  }
}

.c-upgrade-page-hero {
  flex-basis: 100%;
  margin: 24px 0 32px;
  padding: 24px 16px;
  border-radius: 4px;
  background-color: $cl-white;
  text-align: center;

  > p,
  > li {
    padding-top: 8px;
    font-size: 16px;
  }

  > img {
    width: 128px;
    height: auto;
    margin-bottom: 8px;

    @include if-screen-smaller-than(sm) {
      width: 64px;
    }
  }
}

.c-upgrade-page-hero__numbered-bullet {
  list-style: decimal;
}

.c-section--gray {
  width: 100%;
  background-color: $cl-neutral-1;
}

.c-upgrade-form-section {
  @include flex-item(100%);
  @include flex-container();
  flex-wrap: wrap-reverse;
  padding-top: 64px;
  padding-bottom: 80px;

  @include if-screen-smaller-than(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.c-upgrade-form-info-container {
  @include flex-container();
  @include flex-item(360px, 2);
  padding-right: 40px;

  @include if-screen-smaller-than(sm) {
    padding-right: 0;
  }
}

.c-upgrade-form-info-container__header {
  flex-basis: 100%;
  padding-bottom: 32px;

  > p {
    padding-top: 8px;
  }
}

.c-upgrade-form-info {
  @include flex-container($direction: column);
  @include flex-item(280px, 1);
  padding-right: 40px;
  padding-bottom: 24px;

  @include if-screen-smaller-than(sm) {
    padding-right: 0;
  }
}

.c-upgrade-form-info__list {
  @include flex-item(auto, 1);
  margin-bottom: 0;
  padding-bottom: 24px;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid $cl-neutral-3;

  > li {
    padding-top: 8px;
  }
}

.c-upgrade-form-info__icon-list {
  @include flex-item(224px, 1);
  padding-bottom: 24px;
  border-bottom: 1px solid $cl-neutral-3;
}

.c-upgrade-form-info__icon-list-item {
  @include flex-container(left, center, center, nowrap);
  padding-top: 16px;

  > img {
    width: 40px;
    height: auto;
    margin-right: 8px;
  }
}

.c-upgrade-form-info__price {
  padding-top: 8px;
  color: $cl-good;
}

.c-upgrade-form-info__price.is-poor {
  color: $cl-poor;
}

.c-upgrade-form-container {
  @include flex-item(280px, 1);
}

.c-upgrade-form {
  margin-bottom: 40px;
  padding: 16px;
  border-radius: 4px;
  background-color: $cl-white;

  @include box-shadow(dark);
}

.c-upgrade-form__call-agent-section {
  @include flex-container(center, center, center);
  flex-basis: 100%;
  padding: 32px 0 16px;
  overflow: hidden;
  animation: slide-in--from-top 0.2s ease-in-out;

  img {
    margin-right: 8px;
  }

  .c-btn {
    flex-shrink: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

.c-upgrade-form__call-agent-copy {
  @include flex-container(left, center, center);
  @include flex-item(200px, 1);
  padding-right: 16px;

  a {
    display: inline-block;
    font-weight: 600;
  }
}

.c-upgrade-page-review-container {
  @include flex-container(center);
  width: 100%;
  max-width: calc(100% + 16px);
  margin: 0 -8px;
  padding-top: 80px;
  padding-bottom: 80px;

  @include if-screen-smaller-than(sm) {
    padding-top: 32px;
    padding-bottom: 16px;
  }
}

.c-upgrade-page-review {
  @include flex-container();
  @include flex-item(200px, 1);
  margin: 0 8px;
  padding-bottom: 16px;

  > img {
    margin-right: 16px;
  }

  > span {
    color: $cl-neutral-3;
  }

  &:first-child {
    padding-right: 40px;

    @include if-screen-smaller-than(sm) {
      padding-right: 0;
    }
  }
}

.c-upgrade-page-review__content {
  @include flex-item(200px, 1);

  > p {
    &:last-child {
      padding-top: 16px;
      color: $cl-neutral-3;
    }
  }
}

.c-id-verify-banner {
  @include flex-container(center, $align-items: center);
  @include flex-item(100%);
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;

  > img {
    margin: 24px;

    @include if-screen-smaller-than(sm) {
      display: none;
    }
  }
}

.c-id-verify-hero {
  @include flex-item(100%);
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: $cl-white;
  text-align: center;

  &,
  > .o-site-container {
    @include flex-container(center);
  }
}

.c-id-verify-hero__content {
  @include flex-container(center);
  @include flex-item(560px);

  > img {
    margin-bottom: 16px;
  }

  > p {
    flex-basis: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  > h1 {
    flex-basis: 100%;
  }
}
