.upgrade-landing-page {
  ._banner {
    background-color: $cl-neutral-1;

    img {
      height: auto;
      width: 120px;
    }

    h1 {
      font-size: 36px;
      text-align: center;
    }
  }

  ._hero {
    background-color: $cl-accent-7;

    p {
      color: #fff;
      font-size: 20px;
      line-height: 1.4;
    }
  }

  ._infographic {
    background-image: url('#{$cdn-path}/icons/diamond-outline--dark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

    ._box {
      border: 1px solid $cl-border;
      border-radius: 2px;
      background-color: $cl-neutral-7;

      p {
        font-size: 20px;
        line-height: 1.3;
        text-align: center;
      }

      h3 {
        font-size: 54px;
        font-weight: 100;
        color: #fff;
      }

      img {
        width: 180px;
        height: auto;
      }
    }

    span {
      width: 100%;
      text-align: center;
      font-size: 10px;
      color: #fff;

      a {
        color: #fff;
      }
    }
  }

  ._section {
    background-color: #fff;

    img {
      width: 100%;
      height: auto;
    }

    h2 {
      font-size: 28px;
      font-weight: 600;
      line-height: 1.2;

      &.-banner {
        text-align: center;
        font-size: 36px;
      }
    }

    p {
      font-size: 20px;
      line-height: 1.2;
    }

    a {
      font-size: 20px;
      color: $cl-neutral-6;
      color: $cl-hyperlink;
    }

    button {
      font-size: 18px;
    }

    li {
      font-size: 20px;
    }

    &.-gray {
      color: $cl-neutral-6;
      background-color: $cl-neutral-1;
      border-bottom: 1px $cl-neutral-2 solid;
    }

    &.-yellow {
      color: $cl-neutral-6;
      background-color: $cl-fair;
    }

    &.-dark {
      background-color: $cl-neutral-7;
      color: #fff;
      background-image: url('#{$cdn-path}/icons/diamond-outline--dark.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;

      h1,
      h2 {
        text-align: center;
      }

      h1 {
        font-size: 42px;
      }

      h2 {
        font-size: 24px;
        font-weight: 400;
      }
    }

    &.-map {
      background-image: url('#{$cdn-path}/icons/gray_map-v2.png');
      background-position: center top;
    }

    &.-get-started {
      p {
        font-size: 20px;
      }
    }
  }
}
