// TODO: OLD Style, Kill them eventually please.
// scss-lint:disable all

@mixin form_stat_triangle(){
  .triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 15px 15px;
    &.-poor {
      border-color: transparent transparent $cl-poor transparent;
      display: block;
    }
    &.-good {
      border-color: transparent transparent $cl-good transparent;
      display: block;
    }
    &.-key {
      position: relative;
      bottom: inherit;
      right: inherit;
      padding-bottom: 3px;
    }
  }
}

.form__card {
 border-radius: 4px;
 border: 1px solid  $cl-neutral-2;
 background-color: #fff;
 margin: 0 16px 16px 0;
}

.form__container__new {
 background-color: #fff;
 border-radius: 4px;
 overflow: hidden;
 .form__item {
   border-right: 1px solid  $cl-neutral-2;
   border-bottom: 1px solid  $cl-neutral-2;
 }
}
.form__container__border {
 position: absolute;
 opacity: 1;
 top: 0;
 left: 0;
 background-color: rgba(0,0,0,0) !important;
 height: 100%;
 width: 100%;
 border-radius: 4px;
 border: 1px solid  $cl-neutral-2;
 pointer-events: none;
}

.form__alert {
  margin-top: 0;
}

.form__header {
 background-color: $cl-neutral-5;
 color: #fff;
 padding: 16px 16px;
 font-size: 22px;
 font-weight: 600;
 text-transform: uppercase;
 h3 {
   color: #fff;
 }
}
.form__header--white {
 padding: 16px 16px;
 font-size: 18px;
 color:  $cl-neutral-4;
 font-weight: 600;
 text-transform: uppercase;
 border-bottom: 1px solid  $cl-neutral-2;
}

.form__header__small {
  font-size: 16px;
}
.form__item {
 background-color: #fff;
 label {
   width: 100%;
   color:  $cl-neutral-4;
   font-size: 12px;
   padding-left: 24px;
   padding-top: 16px;
   cursor: default;
 }

 // select {
 //   -webkit-appearance: none;
 //   -moz-appearance: none;
 //   appearance: none;
 //   color: $cl-neutral-6;
 //   cursor: pointer;
 //   background: url(#{$cdn-path}/icons/form-dropdown.svg) no-repeat right center;
 // }
  ::-webkit-input-placeholder {
   /* WebKit, Blink, Edge */
   color:  $cl-neutral-3;
 }
  :-moz-placeholder {
   /* Mozilla Firefox 4 to 18 */
   color:  $cl-neutral-3;
   opacity: 1;
 }
  ::-moz-placeholder {
   /* Mozilla Firefox 19+ */
   color:  $cl-neutral-3;
   opacity: 1;
 }
  :-ms-input-placeholder {
   /* Internet Explorer 10-11 */
   color:  $cl-neutral-3;
 }
 input[type=text],
 textarea,
 select {
   width: 100%;
   border: 0;
   background-color: transparent;
   font-size: 14px;
   padding: 8px 24px 16px 24px;
   line-height: 24px;
   &:focus {
     outline: 0;
   }
   option {
     color: $cl-neutral-6;
   }
 }

 .company_name {
   color: $cl-neutral-6;
   font-size: 14px;
 }

 textarea {
   height: 100px;
 }

 input[type=radio] {
   margin: 16px 8px 16px 24px;
   & + span {
     color:  $cl-neutral-4;
     padding: 12px 0px;
   }
 }
}

.form__item__long-text {
 height: 300px;
}

.form__item__submit {
 p {
   font-size: 12px;
 }
 .small-text {
   font-size: 10px;
 }
}

.form__item--incomplete {
  background-color: $cl-accent-4;
}

.form__sidebar__steps {
 border-bottom: 1px solid  $cl-neutral-2;
 padding: 08px 0;
 min-height: 64px;
 div {
   margin: 15px;
   margin-right: 0;
   max-height: 25px;
   max-width: 25px;
   height: 30px;
   width: 30px;
   border-radius: 50%;
   border: 1px solid  $cl-neutral-2;
 }
 span {
   padding-left: 12px;
   padding-right: 12px;
   font-size: 16px;
 }
}

.form__sidebar__contact {
 h3 {
   margin-bottom: 16px;
 }
 img {
   border: 1px solid  $cl-neutral-2;
   border-radius: 50%;
   margin: 0 16px 16px 16px;
 }
}

.form__sidebar__contact__info {
 font-size: 12px;
 line-height: 16px;
 padding-bottom: 24px;
 color:  $cl-neutral-4;
}

.iconfont-check--sm {
  font-size: 24px;
}

.form__alert-warning {
  border: 1px solid  $cl-neutral-2;
  background-color: $cl-accent-4;
  color: $cl-neutral-6;
}

.form__add-link {
  cursor: pointer;
}

//duplicated from marketplace
.call-agent {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    background-color: #fff;
    padding: 30px;
    max-width: 1000px;
}

.special-select {
  background-color:  $cl-neutral-1;
}

.offer-card {
	background-color: #fff;
	border-radius: 4px;
}

.offer-card__header {
  padding: 24px 24px 24px 24px;
  overflow: hidden;
	border-radius: 4px 4px 0 0 ;
	border-top: 1px solid  $cl-neutral-2;
	border-left: 1px solid  $cl-neutral-2;
	border-right: 1px solid  $cl-neutral-2;
}

.offer-card__header__title {
	z-index: 2;
	padding-bottom: 15px;
  font-weight: 200;
  font-size: 16px;

	div{
		min-height: 50px;
	}
}

.offer-card__ratings {
	color:  $cl-neutral-3;
	border-right: 1px solid  $cl-neutral-2;
	border-left: 1px solid  $cl-neutral-2;
	border-top: 1px solid  $cl-neutral-2;
	i {
		font-size: 18px;
	}
}

.offer-card__stats{
  > * {
    position: relative;
  }
	p, span {
    width: 100%;
    text-align: center;
  }
  p {
    font-size: 14px;
    text-transform: uppercase;
    color:  $cl-neutral-4;
  }
  span {
    font-size: 18px;
    display: block;
  }
  .-main span {
    font-size: 32px;
  }
  .-secondary span {
    font-size: 24px;
  }
  .-button a {
    font-size: 18px;
    text-transform: uppercase;
  }
  @include form_stat_triangle();
}

.offer-card__stats__apr {
	border-top: 1px solid  $cl-neutral-2;

}

.form__your-desires {
  h3, p {
    width: 100%
  }
  span {
    color:  $cl-neutral-4;
  }
  h3 {
    font-size: 28px;
  }
  .-main {
    font-size: 16px;
  }
  @include form_stat_triangle();
}

.form__info-box {
   border-radius: 4px;
   border: 1px solid  $cl-neutral-2;
   background-color: #fff;
   h3 {
     font-size: 22px;
   }
   h4 {
     font-size: 18px;
     font-weight: 600;
   }
   li {
     margin-left: 0;
   }
   img {
     width: auto;
   }
   .-clickable {
     cursor: pointer;

   }
}
