// TODO: OLD Style, Kill them eventually please.
// scss-lint:disable all


.disclosure-link {
  font-size: 10px;
  cursor: pointer;
}

.partner-text {
  padding-top: 5px;
}

h2.finance-header {
  margin-bottom: 0;
  @include if-screen-smaller-than(sm) {
       padding-top: 16px;
   }
}

.font-light-gray {
  color: $cl-neutral-3;
}
