/* ==========================================================================
    MATCH FACTOR
   ========================================================================== */

   // TODO: OLD Style, Kill them eventually please.
   // scss-lint:disable all

   
@mixin setStatusColor {
  &.-good {
    color: $cl-good;
  }
  &.-semi-good {
    color: $cl-semi-good;
  }
  &.-fair {
    color: $cl-fair;
  }
  &.-semi-poor {
    color: $cl-semi-poor;
  }
  &.-poor {
    color: $cl-poor;
  }
}

.match-factor-score {
  position: relative;
  width: 70px;
  height: 72px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px 6px 12px 6px;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 0px;
  transition: box-shadow linear .1s;

  ._factor-icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-16px);
    background-color: #fff;
    width: 40px;
    height: 20px;
    padding-left: 8px;
    padding-right: 8px;
    img {
      height: auto;
      width: 100%;
    }
  }

  ._factor-percent {
    display: block;
    width: 100%;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    line-height: 1;
    span {
      margin-left: -6px;
      font-weight: 200;
      line-height: 1;
    }
  }

  ._factor-label {
    display: block;
    width: 100%;
    color: $cl-neutral-5;
    text-align: center;
    font-size: 12px;
    line-height: 1;
  }

  ._factor-link {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 2px);
    background-color: #fff;
    text-align: center;
    width: 32px;
    height: 10px;
    padding-left: 8px;
    padding-right: 8px;
    span {
      position: absolute;
      left: calc(50% - 4px);
      width: 4px;
      font-weight: 100;
      line-height: 8px;
      transform: translateX(0);
      transition: transform .1s ease-in-out;
      &:nth-child(1){
        padding-right: 4px;
      }
      &:nth-child(2){
        padding-left: 4px;
      }
    }
  }

  &.-no-chevron {
    ._factor-link {
      span {
        display: none;
      }
    }
  }

  //Statuseseseses
  &.-good {
    border-color: $cl-good;
    color: $cl-good;
    ._factor-percent, ._factor-link {
      color: $cl-good;
    }
  }
  &.-fair {
    border-color: $cl-semi-good;
    color: $cl-semi-good;
    ._factor-percent, ._factor-link {
      color: $cl-semi-good;
    }
  }
  &.-average {
    border-color: $cl-fair;
    color: $cl-fair;
    ._factor-percent, ._factor-link {
      color: $cl-fair;
    }
  }
  &.-low {
    border-color: $cl-semi-poor;
    color: $cl-semi-poor;
    ._factor-percent, ._factor-link {
      color: $cl-semi-poor;
    }
  }
  &.-bad {
    border-color: $cl-poor;
    color: $cl-poor;
    ._factor-percent, ._factor-link {
      color: $cl-poor;
    }
  }

  &:hover {
    box-shadow: inset 0px 0px 0px 1px;
    transition: box-shadow linear .2s;
    ._factor-link {
      span {
        &:nth-child(1){
          transform: translateX(-1px);
        }
        &:nth-child(2){
          transform: translateX(1px);
        }
      }
    }
  }
  &:active {
    ._factor-link {
      span {
        &:nth-child(1){
          transform: translateX(2px);
        }
        &:nth-child(2){
          transform: translateX(4px);
        }
      }
    }
  }
}

.match-factor-score._ab-test {
  margin-bottom: 8px;
}

.c-btn-group .c-btn-group__btn._ab-test {
  min-width: inherit;
  color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.c-offer-image._ab-test {
  padding: 16px 24px 24px 24px;
}
