// TODO: OLD Style, Kill them eventually please.
// scss-lint:disable all// TODO: OLD Style, Kill them eventually please.
// scss-lint:disable all

.offer-card {
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
}

.offer-card__header {
  padding: 24px 24px 16px 24px;
  overflow: hidden;
	border-radius: 4px 4px 0 0 ;
	border-top: 1px solid  $cl-neutral-2;
	border-left: 1px solid  $cl-neutral-2;
	border-right: 1px solid  $cl-neutral-2;
}

.offer-card__header__title {
	z-index: 2;
	padding-bottom: 15px;
  font-weight: 200;
  font-size: 16px;
	text-align: left;

	div{
		min-height: 50px;
	}
}

.offer-card__header__image.credit_cards .other-offer-img {
  border: none;
}

.offer-card__header__save {
	font-size: 10px;
  position: absolute;
  height: auto;
  width: 40px;
  top: 4px;
  right: 4px;
  z-index: 5;
  padding: 8px;
	cursor: pointer;
}

.offer-card__header__image {
	z-index: 2;
	position: relative;
	img {
		width: 100%;
		border-radius: 4px;
	}
	.other-offer-img {
    padding: 8px 32px;
		background-color: #fff;
		border: 1px solid  $cl-neutral-2;
	}
}

.offer-card__header__badges {
	// height: 64px;
	img {
		height: 45px;
		width: auto;
	}
}

.offer-card__header__background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 135px;
	background: #fff;
}

.offer-card__summary{
	color:  $cl-neutral-3;
	border-right: 1px solid  $cl-neutral-2;
	border-left: 1px solid  $cl-neutral-2;
	border-top: 1px solid  $cl-neutral-2;
		p {
			max-height: 125px;
			overflow-y: scroll;
			overflow-x: hidden;
		}
		::-webkit-scrollbar {
		    -webkit-appearance: none;
		    width: 3px;
		}
		::-webkit-scrollbar-thumb {
		    border-radius: 35%;
		    background-color: rgba(0,0,0,.5);
		    -webkit-box-shadow: 0 0 1px  $cl-neutral-2;
		}
}

.offer-card__ratings {
	color:  $cl-neutral-3;
	border-right: 1px solid  $cl-neutral-2;
	border-left: 1px solid  $cl-neutral-2;
	border-top: 1px solid  $cl-neutral-2;
	i {
		font-size: 18px;
	}
}

.offer-card--side-borders{
	border-right: 1px solid  $cl-neutral-2;
	border-left: 1px solid  $cl-neutral-2;
}

.offer-card__stats__apr {
	border-top: 1px solid  $cl-neutral-2;

}
.offer-card__stats__match-factor {
	border-top: 1px solid $cl-neutral-2;
	border-left: 1px solid $cl-neutral-2;
	border-right: 1px solid $cl-neutral-2;
	cursor: pointer;
}

.offer-card__stats__qualify {
	font-size: 18px;
	text-align: center;
}

.click-text {
	visibility: hidden;
}

.offer-card__stats__initial-fee {
	border-top: 1px solid  $cl-neutral-2;

}

.offer-card__stats__annual-fee {
	border-top: 1px solid  $cl-neutral-2;

}

.offer-card__stats__rewards {
	border-top: 1px solid  $cl-neutral-2;
}

.offer-card__spacer {
	border-right: 1px solid  $cl-neutral-2;
	border-left: 1px solid  $cl-neutral-2;
}

.offer-card__button-group{
	background-color:  #e2e2e2;
	border-radius: 0 0 4px 4px;
}

.offer-card__buttons{
	color:  $cl-neutral-4;
	border: 1px solid  $cl-neutral-2;
	background-color: #fafafa;
	height: 100%;
	padding: 20px 0;

}

.offer-card__buttons:hover{
	background-color: $cl-primary-2;
	color: #fff;
	text-decoration: none;

}

.offer-card__buttons__apply {
	border-radius: 0 0 0 4px;
	border-right: none;
}

.offer-card__buttons__learn {
	border-radius: 0 0 4px 0;
}


._card-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  outline: 1px solid $cl-neutral-2;
  z-index: 15;
  transform: translateX(-101%);
  transition: transform .5s ease-in-out;
  &.-open {
    transform: translateX(0%);
  }
  ._header {
    padding: 16px;
    padding-bottom: 0;
    p {
      padding-left: 16px;
      color: $cl-neutral-4;
      font-size: 12px;
      line-height: 1.2;
    }
  }
  ._close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    cursor: pointer;
  }
  ._content {
    padding: 16px;
    overflow-y: auto;
    ._factor-item {
      background-color: $cl-neutral-0;
      margin-bottom: 8px;
      input {
        display: none;
      }
      ._item-header {
        p, span {
          font-size: 14px;
        }
        span {
          margin-left: auto;
          font-weight: 600;
          padding-left: 16px;
        }
        ._fail-icon {
          display: none;
          padding-left: 4px;
          padding-top: 2px;
        }
      }
      ._chevron {
        width: 24px;
        height: 22px;
        flex-shrink: 0;
        img {
          transform: rotateZ(-90deg);
          transition: transform .3s ease-in-out;
        }
      }
      ._item-content {
        display: block;
        max-height: 0;
        padding-left: 24px;
        font-size: 12px;
        overflow: hidden;
        transition: max-height .4s ease-out;
      }
      input:checked ~ label img {
        transform: rotateZ(0);
      }
      input:checked ~ ._item-content {
        max-height: 50px;
        transition: max-height .3s ease-in;
      }
      &.-pass {
        ._item-header span {
          color: $cl-good;
        }
        ._item-content span {
          color: $cl-good
        }
      }
      &.-unknown {
        ._item-header span {
          color: $cl-fair;
        }
        ._item-content span {
          color: $cl-fair
        }
      }
      &.-fail {
        ._item-header {
          color: $cl-poor;
          ._fail-icon {
            display: block;
          }
        }
        ._item-content span {
          color: $cl-poor
        }
      }
    }
  }
}
