.c-mobile-call-agent-cta {
  @include flex-item(100%);
  display: none;
  margin-bottom: 32px;
  border-radius: 4px;
  box-shadow: 0 0 8px $cl-neutral-3;

  @include if-screen-smaller-than(sm) {
    display: block;
  }
}

.c-mobile-call-agent-cta__header {
  @include flex-container(space-between, center, center, $wrap: nowrap);
  width: 100%;
  padding: 8px 16px;
  cursor: pointer;

  > img {
    width: 16px;
    height: auto;
    transition: transform 0.3s;
  }

  &.is-open {
    > img {
      transform: rotateX(180deg);
    }
  }
}

.c-mobile-call-agent-cta__header-content {
  @include flex-container(flex-start, center, center, $wrap: nowrap);

  > h3 {
    padding-left: 8px;
    color: $cl-secondary-2;
  }

  > img {
    width: 32px;
    height: auto;
  }
}

.c-mobile-call-agent-cta__content {
  @include flex-container(center);
  height: 0;
  transition: height 0.3s ease-in-out;
  border-top: 1px solid $cl-border;
  overflow: hidden;

  > p {
    width: 100%;
    padding: 8px 16px;
  }
}

.c-mobile-call-agent-cta__content-link {
  text-align: center;

  > a {
    padding-left: 8px;
    font-size: 16px;
  }
}
