.c-call-agent-cta-container {
  @include flex-item(100%);
}

.c-call-agent-cta {
  @include flex-container(left, center, center, nowrap);
  @include flex-item(640px);
  padding: 8px 0;

  img {
    width: 48px;
    height: 48px;
  }

  > .c-btn {
    flex-shrink: 0;
    align-self: center;
    padding: 9px 24px; // TODOFuture: Style override, match with standards
  }

  > p {
    font-size: 12px;
    line-height: 1.4; // TODOFuture: Style override, match with standards
  }
}

.c-call-agent-cta.c-call-agent-cta--center {
  justify-content: center;
}

.c-call-agent-cta.c-call-agent-cta--hide-on-mobile {
  margin-bottom: 32px;

  @include if-screen-smaller-than(sm) {
    display: none;
  }
}

.c-call-agent-cta__copy {
  @include flex-item(240px);
  padding: 8px;
  padding-left: 24px;
}

.c-call-agent-cta__copy.c-call-agent-cta__copy--border-left {
  border-left: 4px solid $cl-border;

  @include if-screen-smaller-than(sm) {
    flex-basis: 100%;
    padding-left: 0;
    border-top: 1px solid $cl-border;
    border-left: 0;
  }
}

.c-call-agent-cta__call-link {
  @include flex-container();
  @include flex-item(160px);
  margin-left: 8px;
  padding: 8px;

  > p,
  > a {
    flex-basis: 100%;
  }

  > a {
    font-size: 16px;
    font-weight: 600;
  }
}
