.c-fact-box {
  @include flex-item(100%);
  padding-top: 16px;
}

.c-fact-box__title {
  @include flex-container(left, center, center, nowrap);
  padding-bottom: 8px;

  img {
    width: 32px;
    height: auto;
    margin-right: 8px;
  }

  h4 {
    color: $cl-primary-3;
    font-weight: 600;
  }
}

.c-fact-box__copy {
  padding-left: 16px;

  li {
    font-size: 14px;
  }
}
