.c-filter {
  @include flex-container(left, center, center, nowrap);
  @include flex-item(100%, $max: 100%);
  flex-basis: 100%;
  max-width: 100%;
  padding: 8px 16px;
  transition: background-color 0.2s linear;
  background-color: $cl-neutral-0;

  .c-btn {
    flex-basis: 128px;
    flex-shrink: 0;
    align-self: center;
    margin-right: 0;
    margin-left: auto;
    padding: 9px 16px;
  }

  > .o-site-container {
    @include flex-container(left, center, center, nowrap);
  }
}

.c-filter.is-hidden {
  background-color: $cl-white;

  .c-filter__copy {
    opacity: 0;
  }
}

.c-filter__copy {
  @include flex-container();
  @include flex-item(100px, 1);
  max-width: calc(100% - 140px);
  padding-left: 0;
  transition: opacity 0.2s linear;
  opacity: 1;

  > h4 {
    display: none;
    font-weight: 600;
  }

  li {
    margin-bottom: 0;
    padding-right: 16px;
    font-size: 14px;
    font-weight: 600;
    list-style: none;

    span {
      color: $cl-neutral-4;
      font-weight: 400;
    }
  }

  @include if-screen-smaller-than(680px) {
    display: none;
  }
}

.c-filter__filters {
  @include flex-item(100%);
  background-color: $cl-white;
  overflow: hidden;
  z-index: 1;
}

.c-filter__buttons {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
