// stylelint-disable selector-no-qualifying-type
div.o-scrollable-cards-on-mobile {
  @include if-screen-smaller-than(sm) {
    @include flex-item(100%, 1, 100%);
    @include flex-container($wrap: false);
    overflow-y: scroll;

    .c-offer-card {
      @include flex-item(360px, 0, $shrink: 0);
      max-width: calc(100vw - 64px);
    }

    .c-offer-card.c-offer-card--placeholder {
      display: none;
    }
  }
}
// stylelint-enable selector-no-qualifying-type
