// For showing important additional information on that page. Usually put on the top of a main section.
// TODO combine with warning-box

.c-alert-box {
  margin: 16px 8px;
  border: 1px solid $cl-neutral-3;
  border-radius: 4px;
  // stylelint-disable-next-line sh-waqar/declaration-use-variable
  background-color: rgba($cl-neutral-3, 0.1);
  @include flex-item(100%);
  @include flex-container($wrap: nowrap);
}

.c-alert-box.c-alert-box--red {
  border-color: $cl-accent-5;
  // stylelint-disable-next-line sh-waqar/declaration-use-variable
  background-color: rgba($cl-accent-5, 0.1);

  .c-alert-box__icon {
    background-color: $cl-accent-5;
  }
}

.c-alert-box.c-alert-box--green {
  border-color: $cl-accent-1;
  // stylelint-disable-next-line sh-waqar/declaration-use-variable
  background-color: rgba($cl-accent-1, 0.1);

  .c-alert-box__icon {
    background-color: $cl-accent-1;
  }
}

.c-alert-box__icon {
  flex-shrink: 0;
  padding: 24px;
  background-color: $cl-neutral-3;
  @include flex-container($align-items: center, $justify-content: center);

  img {
    width: 32px;
    height: 32px;
  }
}

.c-alert-box__disclaimer {
  @include flex-container(left, center, center);
  flex-basis: 100%;
  padding: 16px;

  > {
    flex-basis: 100%;
  }
}
