@keyframes loader-spinner {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(180deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

@keyframes loader-inner {
  0% { height: 0%; }
  25% { height: 0%; }
  50% { height: 100%; }
  75% { height: 100%; }
  100% { height: 0%; }
}

.c-loader-overlay {
  @include flex-container(center, center, center);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // stylelint-disable-next-line sh-waqar/declaration-use-variable
  background-color: rgba($cl-white, 0.85);
  z-index: 10;

  .c-loader-circle {
    @include box-shadow(dark);
  }

  > h3 {
    padding: 16px;
  }
}

.c-loader-circle-container {
  @include flex-container(center, center);
  width: 100%;
  height: 100%;
}

.c-loader-circle {
  position: relative;
  @include flex-container(center, center);
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: $cl-white url('https://dxkdvuv3hanyu.cloudfront.net/images/logo-cyan.svg') no-repeat center;
  background-size: 48px;
}

.c-loader-circle__border {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 72px;
  height: 72px;
  border-top: 3px solid $cl-white;
  border-right: 3px solid $cl-primary-2;
  border-bottom: 3px solid $cl-white;
  border-left: 3px solid $cl-primary-2;
  border-radius: 50%;
  animation: spin 1.3s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.c-loader {
  display: inline-block;
  position: relative;
  top: 50%;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border: 4px solid $cl-primary-2;
  vertical-align: middle;
  animation: loader-spinner 3s infinite ease;
}

.c-loader-text {
  display: inline-block;
  color: $cl-white;
  vertical-align: middle;
}

.c-loader.c-loader--large {
  display: inline-block;
  width: 75px;
  height: 75px;
}

.c-loader.c-loader--white {
  border-color: $cl-white;

  .c-loader__loader-inner {
    background-color: $cl-white;
  }
}

.c-loader__loader-inner {
  display: inline-block;
  width: 100%;
  background-color: $cl-primary-2;
  vertical-align: top;
  animation: loader-inner 3s infinite ease-in;
}
