@include if-screen-smaller-than(850px) {
  .c-navbar {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }

  .c-mobile-navbar {
    // stylelint-disable-next-line declaration-no-important
    display: flex !important;
  }
}

.o-navbar {
  width: 100%;
  width: 100vw;
  z-index: 50;
}

.o-navbar__auth-wrapper {
  @include flex-container(right, $wrap: false);
  @include flex-item($grow: 1);
}

.c-navbar {
  max-width: 100%;
  height: 80px;

  > div:last-child {
    // One time use color
    // scss-lint:disable VariableForProperty, ColorVariable
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.12);
  }
}

.c-navbar.c-navbar--short {
  height: 40px;
}

.c-navbar__top {
  @include flex-container($wrap: false);
  width: 100%;
  width: 100vw;
  max-width: 100%;
  height: 40px;
  background-color: $cl-white;
  z-index: 40;

  .c-navbar__site-container {
    background-color: $cl-white;
    z-index: 45;
  }

  .c-dropdown-menu__title {
    z-index: 20;
  }

  .c-dropdown-menu__dropdown {
    z-index: 15;
  }
}

.c-navbar__bottom {
  @include flex-container();
  width: 100%;
  width: 100vw;
  max-width: 100%;
  min-height: 40px;
  background-color: $cl-primary-3;
  color: $cl-white;
  z-index: 10;
}

.c-navbar__bottom--fixed {
  // stylelint-disable-next-line declaration-no-important
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
  z-index: 55;

  .c-navbar__logo-bug img {
    transform: translateY(0);
  }
}

.c-navbar__site-container {
  @include site-container;
  @include flex-container($wrap: false);
  height: 40px;
}

.c-dropdown-menu {
  @include flex-container();
  @include flex-item();
  position: relative;
  cursor: pointer;

  &:hover {
    .c-dropdown-menu__title {
      background-color: $cl-neutral-1;
    }

    .c-dropdown-menu__dropdown {
      transform: translateY(0);
      transition: transform 0.2s ease-out, box-shadow 0.2s linear;
    }
  }

  &:last-of-type {
    .c-dropdown-menu__dropdown {
      right: 0;
      left: inherit;
    }
  }
}

.c-dropdown-menu.c-dropdown-menu--alt {
  color: $cl-white;

  .c-dropdown-menu__title {
    background-color: $cl-primary-3;
    box-shadow: 5px 0 0 0 $cl-primary-3;

    > a {
      color: $cl-white;
    }
  }

  &:hover {
    .c-dropdown-menu__title {
      background-color: $cl-white;
    }

    .c-dropdown-menu__title a {
      color: $cl-neutral-5;
    }
  }
}

.c-dropdown-menu.c-dropdown-menu--alt.is-active {
  .c-dropdown-menu__title {
    background-color: $cl-secondary-2;
  }

  &:hover {
    .c-dropdown-menu__title {
      background-color: $cl-white;
    }
  }
}

.c-dropdown-menu__title {
  @include flex-container(center, stretch, stretch);
  max-width: 100%;
  padding: 0;
  transition: background-color 0.1s linear;
  background-color: $cl-white;
  font-size: 14px;
  box-shadow: 5px 0 0 0 rgba(255, 255, 255, 1);
  z-index: 10;

  a {
    padding: 11px 16px;
    white-space: nowrap;
  }
}

.c-dropdown-menu__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  @include flex-container(left, center);
  width: 160px;
  transform: translateY(-100%);
  transform: translateY(calc(-100% - 5px));
  transition: transform 0.1s ease-out, box-shadow 0.1s linear;
  border-radius: 0 0 2px 2px;
  background-color: $cl-white;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 5;
}

.c-dropdown-menu__option {
  @include flex-container(left, center, $wrap: false);
  @include flex-item(100%, 1);
  max-width: 100%;
  height: 40px;
  padding: 0 16px;
  transition: background-color 0.1s linear;
  color: $cl-neutral-5;

  &:hover {
    background-color: $cl-neutral-1;
    color: $cl-neutral-5;
  }
}

.c-navbar__logo {
  position: relative;
  @include flex-container($align-items: center, $wrap: false);
  width: 82px;
  margin-right: auto;
}

.c-navbar__logo-bug {
  position: relative;
  width: 30px;
  height: 40px;
  margin-right: auto;
  transform: rotate();

  img {
    position: absolute;
    top: 0;
    left: 1px;
    width: 30px;
    height: 40px;
    transform: translateY(-40px);
    transition: transform 0.3s ease-in-out;
    z-index: 60;

    // Shhh... this is an easter egg.. Click and hold the logo bug to see.
    &:active {
      transition: filter 500s ease-in 5s;
      filter: hue-rotate(999999deg);
    }
  }
}

.c-navbar__logo-mask {
  position: absolute;
  top: -100%;
  left: 0;
  width: 32px;
  height: 32px;
  background-color: $cl-white;
  z-index: 50;
}

.c-navbar__admin-link {
  @include flex-container(center, center, center);
  padding: 0 16px;
  color: $cl-neutral-5;

  &:hover {
    background-color: $cl-neutral-1;
  }
}

.c-navbar__upgrade {
  @include flex-container(center, center, center);
  @include flex-item($shrink: 0);
  padding: 0 8px;

  .c-btn {
    @include flex-container(center, center, center);
    align-self: center;
    min-width: 0;
    padding: 9px 16px;

    img {
      width: 24px;
      height: 20px;
      padding-right: 4px;
    }
  }
}

.c-navbar__back-to-partner {
  @include flex-container(left, center, $wrap: false);
  margin-right: auto;
  padding-right: 16px;

  p {
    padding-left: 8px;
    color: $cl-white;
    font-weight: 300;
    text-transform: uppercase;
  }

  img {
    height: 28px;
    transform: rotate(180deg);
    transition: height 0.2s;
  }
}

.c-monitoring-status-bar {
  @include flex-container(center, center, center, false);
  @include flex-item(225px);
  padding: 0 16px;
  transition: background-color 0.2s linear;
  border-right: 1px solid $cl-neutral-2;
  border-left: 1px solid $cl-neutral-2;
  text-transform: capitalize;
}

.c-monitoring-status-bar.c-monitoring-status-bar--active {
  &:hover {
    // stylelint-disable-next-line sh-waqar/declaration-use-variable
    background-color: lighten($cl-good, 62%);
  }

  .c-monitoring-status-bar__monitoring-dot {
    background-color: $cl-good;
  }
}

.c-monitoring-status-bar.c-monitoring-status-bar--inactive {
  &:hover {
    // stylelint-disable-next-line sh-waqar/declaration-use-variable
    background-color: lighten($cl-poor, 45%);
  }

  .c-monitoring-status-bar__monitoring-dot {
    background-color: $cl-poor;
  }
}

.c-monitoring-status-bar__label {
  padding-right: 4px;
  color: $cl-neutral-4;
  font-size: 12px;
}

.c-monitoring-status-bar__monitoring-dot {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  margin-bottom: -1px;
  border-radius: 50%;
}

.c-business-select {
  position: relative;
  @include flex-container();
  @include flex-item(200px);
  width: 200px;
  cursor: pointer;

  .c-dropdown-menu__dropdown {
    width: 100%;
  }

  &:hover {
    .c-business-select__chevron {
      transform: rotateZ(0);
    }

    .c-business-select__dropdown {
      transform: translateY(0);
      transition: transform 0.2s ease-out, box-shadow 0.2s linear;
    }
  }
}

.c-business-select__active-business {
  @include flex-item(100px, 1);
  @include flex-container(left, center, center, false);
  padding: 0 16px;
  border-right: 1px solid $cl-border;
}

.c-business-select__business-name {
  @include flex-item(100px, 1);
  max-width: 100%;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.c-business-select__chevron {
  width: 8px;
  height: 3px;
  transform: rotateZ(-180deg);
  transition: transform 0.2s ease-in-out;
}

.c-business-select__business {
  padding-right: 0;
}

.c-business-select__owned-icon {
  margin-right: 6px;
}

.c-user-menu {
  @include flex-container(left);
  @include flex-item(160px, $shrink: 0);

  .c-dropdown-menu__dropdown {
    width: 100%;
  }

  &:hover {
    .c-user-menu__name {
      color: $cl-neutral-5;
    }
  }
}

.c-user-menu__name {
  @include flex-container(left, center, $wrap: false);
  @include flex-item(50px, 1);
  padding-right: 16px;
  padding-left: 16px;
  color: $cl-neutral-5;
  font-size: 14px;
  white-space: nowrap;
}

.c-user-menu__picture {
  width: 40px;
  height: 32px;
  margin-left: auto;
  padding-left: 8px;
}

.c-user-menu__option-title {
  max-width: 100%;
  font-size: 14px;
}

.c-mobile-navbar {
  @include flex-container();
  display: none;
  width: 100%;
  width: 100vw;
  height: 48px;
}

.c-mobile-navbar.c-mobile-navbar--open {
  .c-menu-hamburger__lines span {
    &:nth-child(1),
    &:nth-child(6) {
      transform: rotate(45deg);
    }

    &:nth-child(2),
    &:nth-child(5) {
      transform: rotate(-45deg);
    }

    &:nth-child(1) {
      top: 17px;
      left: 10px;
    }

    &:nth-child(2) {
      top: 17px;
      left: calc(50% - 3px);
    }

    &:nth-child(3) {
      left: -50%;
      opacity: 0;
    }

    &:nth-child(4) {
      left: 100%;
      opacity: 0;
    }

    &:nth-child(5) {
      top: 28px;
      left: 10px;
    }

    &:nth-child(6) {
      top: 28px;
      left: calc(50% - 3px);
    }
  }

  .c-menu-hamburger {
    background-color: $cl-secondary-2;
  }

  .c-mobile-navbar__menu-container {
    transform: translateX(-100%);
    transition: transform 0s ease 0s, opacity 0.5s ease 0.1s;
    opacity: 1;
  }

  .c-mobile-navbar__menu {
    transform: translateX(0);
    transition: transform 0.5s ease 0.2s;
  }

  .c-mobile-navbar__exit-block {
    display: block;
    transform: translateX(20vw);
    pointer-events: auto;
  }
}

.c-mobile-navbar__bar {
  position: fixed;
  top: 0;
  left: 0;
  @include flex-container(right);
  // stylelint-disable-next-line declaration-no-important
  width: 100vw !important;
  height: 48px;
  padding-left: 8px;
  background-color: $cl-primary-3;
  z-index: 55;
}

.c-mobile-navbar__menu-container {
  position: fixed;
  top: 47px;
  right: -100vw;
  @include flex-container(right);
  width: 100vw;
  height: 100vh;
  // stylelint-disable-next-line sh-waqar/declaration-use-variable
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 50;
}

.c-mobile-navbar__menu {
  position: relative;
  width: 80vw;
  height: 93vh;
  height: calc(100vh - 47px);
  max-height: none;
  transform: translateX(100%);
  background-color: $cl-white;
  overflow-y: scroll;
}

.c-mobile-navbar__menu-item {
  @include flex-container();
  height: 56px;
  padding-left: 24px;
  border-top: 1px solid $cl-border;
  color: $cl-neutral-5;
  line-height: 56px;

  p {
    align-self: center;
  }
}

.c-mobile-navbar__menu-item.is-active {
  padding-left: 16px;
  border-left: 8px solid $cl-secondary-2;
  color: $cl-secondary-2;

  .c-mobile-navbar__icon--inactive {
    opacity: 0;
  }

  .c-mobile-navbar__icon--active {
    opacity: 1;
  }

  &.c-mobile-navbar__menu-item--sub-item {
    padding-left: 24px;
    border-left: 4px solid $cl-secondary-2;
  }
}

.c-mobile-navbar__menu-item--spacer {
  width: 100%;
  height: 72px;
  background-color: $cl-neutral-1;
}

.c-mobile-navbar__menu-item--sub-item {
  margin-left: 16px;
  border-left: 4px solid $cl-border;
}

.c-mobile-navbar__menu-item--dark-item {
  background-color: $cl-neutral-1;
  color: $cl-neutral-5;
}

.c-mobile-navbar__icon-container {
  position: relative;
  align-self: center;
  width: 24px;
  height: 24px;
  margin-right: 24px;
}

.c-mobile-navbar__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.c-mobile-navbar__icon--inactive {
  opacity: 1;
}

.c-mobile-navbar__icon--active {
  opacity: 0;
}

.c-mobile-navbar__menu-item--group-header {
  transition: border 0.1s linear;
  border-bottom: 1px solid $cl-white--transparent;

  > img {
    width: 16px;
    height: auto;
    margin-right: 16px;
    margin-left: auto;
    transform: rotateX(0deg);
    transition: transform 0.2s ease-in-out;
  }
}

.c-mobile-navbar__menu-item--group-header.is-open {
  border-bottom: 1px solid $cl-border;

  > img {
    transform: rotateX(180deg);
  }
}

.c-mobile-navbar__menu-group {
  transition: max-height 0.2s ease-in-out;
  overflow: hidden;

  > .c-mobile-navbar__menu-item:first-child {
    border-top: 0;
  }
}

.c-mobile-navbar__menu-group--locked-open {
  // stylelint-disable-next-line declaration-no-important
  max-height: inherit !important;
  border-top: 1px solid $cl-border;
}

.c-mobile-navbar__exit-block {
  display: none;
  position: fixed;
  top: 0;
  right: 100vw;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  z-index: 40;
  pointer-events: none;
}

.c-menu-hamburger {
  @include flex-container(center, center, center);
  width: 48px;
  // stylelint-disable-next-line sh-waqar/declaration-use-variable
  background-color: darken($cl-primary-3, 10%);
  cursor: pointer;
}

.c-menu-hamburger__container {
  position: relative;
  width: 48px;
  height: 48px;
}

.c-menu-hamburger__lines {
  span {
    display: block;
    position: absolute;
    width: calc(50% - 8px);
    height: 1px;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    background: $cl-white;
    opacity: 1;

    &:nth-child(even) {
      left: calc(51%);
    }

    &:nth-child(odd) {
      left: 9px;
    }

    &:nth-child(1),
    &:nth-child(2) {
      top: 16px;
    }

    &:nth-child(3),
    &:nth-child(4) {
      top: 24px;
    }

    &:nth-child(5),
    &:nth-child(6) {
      top: 32px;
    }
  }
}
