// TODO: OLD Style, Kill them eventually please.
// scss-lint:disable all

.bottom-bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 55;
  height: 44px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(44,49,56,0.08);
  border: 1px solid $cl-neutral-1;
  transition: bottom .2s ease-out;

  &.-hide {
    bottom: -90px;
    transition: bottom .2s ease-in .12s;
  }

  &.is-hidden {
    display: none!important;
  }
  #to-top {
    display: none;
  }
  ._up-icon {
    height: 44px;
    cursor: pointer;
    padding-top: 10px;
    p {
      font-size: 14px;
      color: $cl-neutral-4;
    }

    img {
      width: 24px;
      height: 24px;
      transition: transform .2s;
    }

    &:hover {
      img {
        transform: translateY(2px);
      }
    }

    &:active {
      img {
        transform: translateY(6px);
      }
    }
    @include if-screen-smaller-than(sm) {
      flex-basis: 40px;
      p {
        display: none;
      }
    }
  }

  a._chat {
    height: 44px;
    cursor: pointer;
    align-items: center;
    align-content: center;
    border-right: 1px solid $cl-neutral-3;
    p {
      font-size: 14px;
      color: $cl-neutral-4;
    }

    img {
      width: 24px;
      height: 24px;
      transition: transform .2s;
    }

    &:hover {
      img {
        transform: scale(.9);
      }
    }

    &:active {
      img {
        transform: scale(1.05);
      }
    }
    @include if-screen-smaller-than(sm) {
      flex-basis: 40px;
      p {
        display: none;
      }
    }
  }

  ._saved-offers-toggle {
    border-bottom: 10px solid $cl-primary-2;
    height: 54px;
    background-color: #fff;
    border-left: 1px solid $cl-neutral-3;
    transition: transform .2s ease-in-out;
    cursor: pointer;
    p {
      font-size: 14px;
      color: $cl-neutral-4;
      padding-left: 8px;
    }
    // &:hover {
    //   transform: translateY(-6px);
    // }
    &.-active {
      ._icon {
        color: #fff;
        ._count {
          background-color: #fff;
          color: #D74F64;
          transition: background-color .3s;
        }
        ._deselected-img {
          display: none;
        }
        ._selected-img {
          display: block;
        }
      }
      // &:hover {
      //   transform: translateY(0);
      // }
    }
    ._icon {
      position: relative;
      width: 30px;
      height: 30px;
      padding-top: 3px;
      ._count {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #D74F64;
        color: #fff;
        border: 1px solid $cl-neutral-3;
        border-radius: 50%;
        font-size: 10px;
        padding: 2px;
        line-height: 1;
        height: 15px;
        width: 15px;
        text-align: center;
        transition: background-color .5s;
      }
      img {
        height: 24px;
        width: 24px;
      }
      ._deselected-img {
        display: block;
      }
      ._selected-img {
        display: none;
      }
    }
  }

  ._profile-head {
    position: absolute;
    left: calc(100% - 42px);
    font-size: 24px;
    padding: 12px;
    border-left: 1px solid #fff;
    height: 100%;
    width: 300px;
    background-color: #fff;
    transition: left .4s ease-in-out, border .1s linear, transform .2s;
    cursor: pointer;

    i {
      color: $cl-neutral-4;
      position: absolute;
      top: 14px;
      opacity: 1;
      transition: opacity .2s;
    }

    img {
      opacity: 0;
      transition: opacity .2s;
      height: 32px;
      padding-left: 6px;
    }

    &.-close {
      left: -1px;
      border-left: 1px solid $cl-neutral-3;

      i {
        opacity: 0;
      }

      img {
        opacity: 1;
      }
    }
  }
}




// Old style for chat with us and back to top. These are here so we can feature flag between the two.

.chat-tab {
    &.-old {
      left: inherit;
      right: 0;
      margin-right: 8px;
    }
}
.to-top-old {
  display: none;
  position: fixed;
  cursor: pointer;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: $cl-primary-3;
  padding: 12px;
  margin-left: 8px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #fff;
  span {
    padding-left: 8px;
    padding-right: 8px;
  }
}
