@mixin box-shadow($shadow-type: 'light') {
  @if $shadow-type == 'light' {
    box-shadow: 0 25px 40px -20px transparentize($cl-secondary-1, 0.8), 0 25px 40px -20px $cl-neutral-2;
  }
  @elseif $shadow-type == 'dark' {
    box-shadow: 0 8px 40px -4px $cl-neutral-3;
  }
  @elseif $shadow-type == 'none' {
    box-shadow: 0 0 0 0 $cl-black--transparent;
  }
  @else {
    @error 'Invalid shadow-type! Please use light or dark or none';
  }
}
