@mixin flex-container (
  $justify-content: 'left',
  $align-items: 'stretch',
  $align-content: 'stretch',
  $wrap: 'wrap',
  $direction: 'row'
) {
  // Checks to insure a valid value is being set on the properties
  $direction: helperFlexDirection($direction);
  $align-content: helperRowVertical($align-content);
  $align-items: helperItemVertical($align-items);
  $justify-content: helperItemHorizontal($justify-content);
  $wrap: helperFlexWrap($wrap);

  display: flex;
  flex-direction: #{$direction};
  align-content: #{$align-content};
  align-items: #{$align-items};
  justify-content: #{$justify-content};

  @if $direction == 'column' {
    flex-wrap: nowrap;

    // Prevents children from getting wonky.
    // stylelint-disable-next-line selector-no-universal
    > * {
      width: 100%;
    }
  }
  @else {
    flex-wrap: #{$wrap};
  }
}
