@mixin flex-item (
  $basis:auto,
  $grow: 0,
  $max: '',
  $align-self: '',
  $shrink: 1
) {
  // Checks to insure a valid value is being set on the properties
  $basis: unitlessToPixels($basis);
  $grow: ensureUnitless($grow);
  $max: unitlessToPixels($max);
  $shrink: ensureUnitless($shrink);

  flex: $grow $shrink $basis;

  @if $max != '' {
    max-width: $max;
  }

  @if $align-self != '' {
    $align-self: helperAlignSelf($align-self);

    align-self: $align-self;
  }
}
