// Sets the gutters on the side of the page.
// NOTE: If using this mixin, don't set left and right padding on that same class
@mixin site-container() {
  $padding-side: $screen-large / 2;
  $minimum-gutter-desktop: 32px;
  $minimum-gutter-mobile: 16px;

  @include flex-item(100%, 1, 100%);

  width: 100%;
  padding-right: calc((50% - #{$padding-side}) + #{$minimum-gutter-desktop});
  padding-left: calc((50% - #{$padding-side}) + #{$minimum-gutter-desktop});

  @include if-screen-smaller-than($screen-large) {
    padding-right: #{$minimum-gutter-desktop};
    padding-left: #{$minimum-gutter-desktop};
  }

  @include if-screen-smaller-than($screen-small) {
    padding-right: #{$minimum-gutter-mobile};
    padding-left: #{$minimum-gutter-mobile};
  }
}
