$offer-filter-aside-breakpoint: 1048px;

.c-aside-filter-container {
  @include flex-item(312px, 0);
  max-width: calc(100% - 32px);
  margin-right: 16px;
  margin-left: 16px;

  @include if-screen-smaller-than($offer-filter-aside-breakpoint) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.c-aside-filter {
  width: 312px;

  @include if-screen-smaller-than($offer-filter-aside-breakpoint) {
    width: 100%;
  }
}

.c-aside-filter.is-fixed {
  position: fixed;
  top: 40px;

  @include if-screen-smaller-than($offer-filter-aside-breakpoint) {
    position: relative;
    top: 0;
  }
}

.c-aside-filter__form {
  @include flex-item(100%);
  margin-top: 32px;
  transition: max-height 0.3s;
  border-radius: 4px;
  background-color: $cl-white;
  box-shadow: 0 0 8px $cl-neutral-3;
  overflow: hidden;

  @include if-screen-smaller-than(sm) {
    margin-top: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

.c-aside-filter__form-header {
  position: relative;
  margin: 24px 0 16px;
  padding: 0 16px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: $cl-accent-5;
    content: '';
  }
}

.c-aside-filter__form-header-btn {
  @include flex-container();
  width: 100%;

  > .c-btn {
    margin-left: 0;
  }
}

.c-aside-filter__form-group {
  @include flex-container();
  padding: 8px;

  > small {
    flex-basis: 100%;
    padding-top: 8px;
    padding-left: 8px;
  }

  > .c-form-help-text {
    flex-basis: 100%;
    max-width: 100%;
  }

  > .c-select--small.has-no-value {
    > select {
      padding-top: 0;
      color: $cl-neutral-4;
      opacity: 1;
      appearance: normal;
    }

    > label {
      display: none;
    }
  }
}

.c-aside-filter__form-group.c-aside-filter__form-group--secondary {
  padding-bottom: 16px;
  background-color: $cl-neutral-1;
}

.c-aside-filter__form-btn {
  @include flex-item(100%);
  @include flex-container(flex-end);

  > .c-btn--secondary {
    display: none;
    border: 0;
    background-color: $cl-neutral-1;
  }

  @include if-screen-smaller-than(sm) {
    justify-content: space-around;

    > .c-btn--secondary {
      display: block;
    }
  }
}

.c-aside-filter__collapsed-section {
  @include flex-container(space-around, center, $wrap: nowrap);
  padding: 8px 0;
  background-color: $cl-neutral-1;
}

.c-aside-filter__collapsed-section-content {
  padding-left: 8px;

  > p {
    width: 100%;
    font-size: 10px;
  }
}

// LRC SMALL BET
.c-finance-lrc-bet-spacing {
  margin-top: 32px;
}

.c-finance-lrc-bet__card {
  padding-top: 16px;
  border: 0;
}
