.c-offer-details-overview {
  @include flex-container();
  margin-top: 32px;
  overflow: hidden;

  @include if-screen-smaller-than(sm) {
    border-radius: 4px;
    box-shadow: 0 0 8px $cl-neutral-3;
  }
}

.c-offer-details-overview__content {
  transition: max-height 0.6s ease-in-out;
  overflow: hidden;

  @include if-screen-smaller-than(sm) {
    max-height: 160px;
    padding: 0 16px 16px;

    > h2 {
      display: none;
    }
  }
}

.c-offer-details-overview__footer {
  @include flex-container(center, center, center, $wrap: nowrap);
  @include flex-item(100%);
  display: none;
  padding: 8px;
  border-top: 1px solid $cl-border;
  cursor: pointer;

  > p {
    padding-right: 8px;
    color: $cl-secondary-2;
  }

  > img {
    width: 16px;
    height: auto;
    transition: transform 0.6s ease-in-out;
  }

  @include if-screen-smaller-than(sm) {
    display: flex;
  }
}

.c-offer-details-overview__footer.is-open {
  > img {
    transform: rotate(-180deg);
  }
}
