.c-mf-score {
  position: relative;
  @include flex-container($direction: column);
  flex-shrink: 0;
  width: 75px;
  height: 75px;
  margin: 13px 8px 4px;
  padding: 8px 6px 12px;
  transition: box-shadow linear 0.1s;
  border: 1px solid;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0;
  cursor: pointer;

  &:hover {
    transition: box-shadow linear 0.2s;
    box-shadow: inset 0 0 0 1px;

    .c-match-factor__factor-link {
      span {
        // stylelint-disable-next-line max-nesting-depth
        &:nth-child(1) {
          transform: translateX(-1px);
        }

        // stylelint-disable-next-line max-nesting-depth
        &:nth-child(2) {
          transform: translateX(1px);
        }
      }
    }
  }

  &:active {
    .c-match-factor__factor-link span {
      &:nth-child(1) {
        transform: translateX(2px);
      }

      &:nth-child(2) {
        transform: translateX(4px);
      }
    }
  }
}

.c-mf-score.c-mf-score--no-hover {
  cursor: default;

  &:hover {
    box-shadow: inset 0 0 0 0;

    .c-match-factor__factor-link {
      span {
        // stylelint-disable-next-line max-nesting-depth
        &:nth-child(1) {
          transform: translateX(0);
        }

        // stylelint-disable-next-line max-nesting-depth
        &:nth-child(2) {
          transform: translateX(0);
        }
      }
    }
  }

  &:active {
    .c-match-factor__factor-link {
      span {
        // stylelint-disable-next-line max-nesting-depth
        &:nth-child(1) {
          transform: translateX(0);
        }
        // stylelint-disable-next-line max-nesting-depth
        &:nth-child(2) {
          transform: translateX(0);
        }
      }
    }
  }
}

.c-mf-score--no-chevron {
  .c-mf-score__factor-link {
    display: none;
  }
}

.c-mf-score.c-mf-score--gray {
  .c-mf-score__factor-icon,
  .c-mf-score__factor-link {
    background-color: $cl-neutral-1;
  }
}

.c-mf-score.c-mf-score--good {
  border-color: $cl-good;
  color: $cl-good;

  .c-mf-score__factor-percent,
  .c-mf-score__factor-link {
    color: $cl-good;
  }
}

.c-mf-score.c-mf-score--fair {
  border-color: $cl-semi-good;
  color: $cl-semi-good;

  .c-mf-score__factor-percent,
  .c-mf-score__factor-link {
    color: $cl-semi-good;
  }
}

.c-mf-score.c-mf-score--average {
  border-color: $cl-fair;
  color: $cl-fair;

  .c-mf-score__factor-percent,
  .c-mf-score__factor-link {
    color: $cl-fair;
  }
}

.c-mf-score.c-mf-score--low {
  border-color: $cl-semi-poor;
  color: $cl-semi-poor;

  .c-mf-score__factor-percent,
  .c-mf-score__factor-link {
    color: $cl-semi-poor;
  }
}

.c-mf-score.c-mf-score--bad {
  border-color: $cl-poor;
  color: $cl-poor;

  .c-mf-score__factor-percent,
  .c-mf-score__factor-link {
    color: $cl-poor;
  }
}

.c-mf-score__factor-icon {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 20px;
  padding-right: 8px;
  padding-left: 8px;
  transform: translate(-50%, -16px);
  background-color: $cl-white;

  img {
    width: 100%;
    height: auto;
  }
}

.c-mf-score__factor-percent {
  @include flex-container(center, center, center, nowrap);
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;

  span {
    font-weight: 200;
    line-height: 1;
  }
}

.c-mf-score__factor-label {
  display: block;
  width: 100%;
  color: $cl-neutral-5;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}

.c-mf-score__factor-link {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 32px;
  height: 10px;
  padding-right: 8px;
  padding-left: 8px;
  transform: translate(-50%, 2px);
  background-color: $cl-white;
  text-align: center;

  span {
    position: absolute;
    left: calc(50% - 4px);
    width: 4px;
    transform: translateX(0);
    transition: transform 0.1s ease-in-out;
    font-weight: 100;
    line-height: 8px;

    &:nth-child(1) {
      padding-right: 4px;
    }

    &:nth-child(2) {
      padding-left: 4px;
    }
  }
}
