.c-signup-content {
  flex-basis: 100%;
  padding: 32px;
  border-radius: 4px;
  background-color: $cl-white;
  overflow: hidden;

  @include if-screen-smaller-than(sm) {
    padding: 16px;
  }
}

.c-signup-section {
  @include flex-container();
  padding-bottom: 40px;
}

.c-signup-section__header {
  @include flex-container();

  > p {
    flex-basis: 100%;
  }

  strong {
    padding-right: 24px;
  }
}

.c-signup-section__content {
  @include flex-container();
  @include flex-item(100%);
  padding-top: 16px;
  padding-bottom: 16px;
}

.c-signup-loader {
  @include flex-container();
  padding: 16px;
}

.c-signup-disclaimer {
  padding-top: 16px;
}

.c-lock-icon {
  position: relative;
  top: 6px;
  padding: 8px;
  color: $cl-fair;
  font-size: 30px;
}

.c-signup-info {
  padding-left: 48px;
  border-left: 1px solid $cl-neutral-3;

  @include if-screen-between(sm, md) {
    padding-top: 40px;
    padding-left: 0;
    border-left: 0;
  }

  @include if-screen-smaller-than(sm) {
    display: none;
  }

  > ul,
  h2 {
    padding-bottom: 32px;
  }

  > p {
    padding-bottom: 8px;
  }
}

.c-register-image-container {
  @include flex-container(space-around);
  flex-basis: 100%;
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid $cl-neutral-3;
}

.c-register-image {
  @include flex-item(100px);
  padding: 4px;

  > img {
    width: 100%;
  }
}

.c-signup-premium-cta {
  @include flex-item(100%);
  @include flex-container(center);
  padding: 16px 40px;
  border-radius: 4px;
  background: linear-gradient(lighten($cl-primary-3, 10%), lighten($cl-secondary-2, 20%));
  color: $cl-white;

  @include if-screen-smaller-than(sm) {
    padding: 16px;
  }
}

.c-signup-premium-cta__header {
  padding-bottom: 16px;
  text-align: center;

  > h3,
  > p {
    width: 100%;
    padding-top: 8px;
  }
}

.c-signup-premium__img-container {
  @include flex-item(100%);
  @include flex-container(space-between);
}

.c-signup-premium__img {
  @include flex-item(160px, 1);
  padding: 16px;
  text-align: center;

  > img {
    width: auto;
    height: 104px;
    margin-bottom: 8px;
  }

  > p {
    width: 100%;
  }
}

.c-signup-premium-cta__btn-container {
  @include flex-item(100%);
  @include flex-container();
  position: relative;
  margin-top: 32px;
  padding: 32px 16px 16px;
  border: 2px solid $cl-white;
  border-radius: 4px;
  text-align: center;

  > p {
    width: 100%;
  }

  > .c-btn {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
  }
}

.c-smb-surevey-reference {
  width: 100%;
  padding: 16px;
  text-align: center;
}
