.c-add-business-flow {
  @include site-container();
  @include flex-container(left, top, top, nowrap);

  margin-top: 64px;
  overflow: hidden;

  @include if-screen-smaller-than(sm) {
    margin-top: 24px;
  }
}

.c-add-business-flow__desktop-img {
  align-self: flex-start;
  margin-right: 40px;

  @include if-screen-smaller-than(sm) {
    display: none;
  }
}

.c-add-business-flow__content {
  @include flex-container();
  @include flex-item(640px, 1);

  padding-top: 24px;

  hr {
    @include flex-item(100%);
  }

  > form {
    flex-basis: 100%;
  }

  @include if-screen-smaller-than(sm) {
    padding-top: 24px;

    .c-input {
      flex-basis: 100%;
    }
  }
}

.c-add-business-flow__header {
  @include flex-container(center, center, center);
  @include flex-item(100%);

  h1 {
    @include flex-item(120px, 1);

    padding: 0 8px 24px;
  }

  img {
    margin-right: 16px;
  }

  @include if-screen-larger-than(sm) {
    img {
      display: none;
    }
  }

  @include if-screen-smaller-than(sm) {
    margin-bottom: 16px;

    h1 {
      padding: 0;
    }
  }
}

.c-add-business-flow__header.c-add-business-flow__header--large-image {
  img {
    display: none;
  }

  @include if-screen-smaller-than(sm) {
    h1 {
      flex-basis: 100%;
    }

    .c-add-business-flow__header-large-img {
      display: block;
      margin-right: 0;
    }
  }
}

.c-add-business-flow__header-large-img {
  display: none;
}

.c-add-business-flow__section {
  @include flex-container();

  position: relative;
  width: 100%;

  > p {
    flex-basis: 100%;
    max-width: 752px;
    margin: 0 8px 8px;
    font-size: 16px;
  }

  hr {
    margin: 0;
    opacity: 0;
  }
}

.c-add-business-flow__section.has-fade-in {
  animation: hide 0.2s, fadeIn 0.5s linear 0.2s;
}

.c-add-business-flow__section.is-loading .c-loader-overlay {
  display: flex;
}

.c-add-business-flow__input {
  border: 0;

  input {
    border: 1px solid $cl-border;
    border-radius: 4px;
    opacity: 1;

    &:focus {
      border-color: $cl-secondary-2;
    }
  }

  &:first-of-type {
    flex-grow: 4;
  }
}

.c-add-business-flow__input.has-error {
  input {
    border-color: $cl-error;
  }
}

.c-add-business-flow__checkbox {
  @include flex-container(left, center, center, nowrap);

  position: relative;
  flex-basis: 100%;
  padding: 8px;

  @include if-screen-smaller-than(sm) {
    margin: 8px 0;
  }

  input {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 200px;
    height: 100%;
    cursor: pointer;
    z-index: 50;
  }

  label,
  input {
    margin: 0;
  }

  p {
    padding-left: 8px;
  }
}

.c-add-business-flow__button-group {
  @include flex-container(right);

  flex-basis: 100%;

  @include if-screen-smaller-than(sm) {
    .c-btn {
      flex-basis: 100%;
    }

    button {
      order: -1;
    }
  }
}

.c-add-business-flow__incorrect-info-button {
  display: block;
  margin: 0 auto;
  padding-top: 8px;
  border: 0;
  background: none;
  color: $cl-hyperlink;
  text-align: center;

  &:focus {
    outline: 0;
  }
}

.c-add-business-flow__link {
  border: 0;
  background: none;
  color: $cl-neutral-4;
  font-weight: 400;

  &:hover {
    background: none;
    color: $cl-neutral-5;
  }
}

.c-add-business-flow__similar {
  @include flex-container(left, center, center, nowrap);
  @include flex-item(100%);

  position: relative;
  margin: 8px 0;
  padding: 8px 0;
  border-top: 1px solid $cl-border;

  input {
    width: 100%;
    height: 100%;
  }

  label {
    flex-shrink: 0;
  }

  &:first-of-type {
    border-top: 0;
  }
}

.c-add-business-flow__similar-address {
  @include flex-container(left, flex-end, flex-end);

  padding-left: 8px;

  p {
    font-size: 14px;
  }

  strong,
  p {
    flex-basis: auto;
    align-self: baseline;
    padding-right: 4px;
  }

  @include if-screen-smaller-than(sm) {
    strong {
      flex-basis: 100%;
    }

    span {
      display: none;
    }
  }
}

.c-floating-card {
  @include flex-container(left, top, top);
  @include box-shadow(dark);

  position: relative;
  flex-basis: 100%;
  margin-bottom: 16px;
  border-radius: 4px;
  background: $cl-white;
  overflow: hidden;
  animation: hide 0.2s, slide-in 0.3s 0.2s;
}

.c-floating-card.is-loading .c-loader-overlay {
  display: flex;
}

.c-floating-card__header {
  flex-basis: 100%;
  padding: 16px;
  background: $cl-neutral-1;
}

.c-floating-card__content {
  flex-basis: 100%;
  padding: 16px 16px 0;
}

.c-floating-card__footer {
  flex-basis: 100%;
  align-self: flex-end;

  h4 {
    color: $cl-primary-3;
    font-weight: 600;
  }
}

.c-address-listing {
  @include flex-container();

  margin: 32px 0 16px;
  padding-left: 8px;
  border-left: 2px solid $cl-secondary-2;

  p,
  span {
    flex-basis: auto;
    padding-right: 4px;
    font-size: 16px;
  }

  @include if-screen-smaller-than(sm) {
    p {
      flex-basis: 100%;
    }

    span {
      display: none;
    }
  }
}

.c-btn-group-on-mobile-wrapper {
  @include flex-container(right, center, center, nowrap);

  flex-basis: auto;
  margin: 16px;

  h4 {
    margin-right: 32px;
  }

  @include if-screen-smaller-than(sm) {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;

    h4 {
      flex-basis: 100%;
      padding: 16px;
    }

    .c-add-business-flow__link {
      order: 2;
    }

    .c-btn,
    .c-btn.c-btn--primary,
    .c-btn.c-btn--primary.c-btn--primary.c-btn--outline {
      flex-grow: 1;
      height: 40px;
      margin: 0;
      border: 0;
      border-top: 1px solid $cl-border;
      border-radius: 0;
      background-color: $cl-white;
      color: $cl-neutral-4;

      &:first-of-type {
        border-right: 1px solid $cl-border;
      }

      &:hover {
        background-color: $cl-neutral-0;
      }
    }

    .c-btn.c-btn--primary {
      color: $cl-hyperlink;
    }
  }
}
