.c-alert-settings-panel {
  @include flex-container($direction: column);

  border-radius: 4px;
  background: $cl-white;
  overflow: hidden;
}

.c-alert-settings-panel__body {
  padding-top: 16px;
  padding-bottom: 16px;
}

.c-alert-settings-panel__item {
  @include flex-container(space-between);
  @include flex-item(1px);

  margin: 16px 0;
}

.c-alert-settings-panel__label {
  color: $cl-neutral-4;
  text-transform: uppercase;
}

.c-alert-settings-panel__footer {
  padding-top: 24px;

  > select {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
