.c-table-card-section {
  width: 100%;

  > tbody {
    border-top: 1px solid $cl-border;
  }

  th,
  td {
    // this padding is because of really weird thing where it wont show border
    // top on the tbody at 16px but it does 17
    padding: 17px 8px;
    font-size: 14px;
  }
}

.c-table-card-section__header {
  > th {
    padding-top: 24px;

    &:first-child {
      padding-left: 24px;
    }

    &:last-child {
      padding-right: 24px;
    }
  }
}

.c-table-card-section__row {
  background-color: $cl-neutral-0;
  color: $cl-neutral-4;

  &:nth-child(2n + 1) {
    background-color: $cl-white;
  }

  &:last-child {
    > td {
      padding-bottom: 24px;
    }
  }

  > td {
    text-align: right;

    &:first-child {
      padding-left: 24px;
      text-align: left;
    }

    &:last-child {
      padding-right: 24px;
    }
  }
}
