.o-enterprise-info-container {
  padding-top: 24px;
}

.o-enterprise-card {
  @include flex-container(space-between);
  width: 100%;
  margin-bottom: 24px;
  border-radius: 4px;
  background-color: $cl-white;
  box-shadow: 0 4px 8px -2px $cl-neutral-3;
  overflow: hidden;
}

.o-enterprise-card--align-vertical-center {
  align-content: center;
  align-items: center;
}

.o-enterprise-card--align-left {
  justify-content: flex-start;
}

.o-enterprise-card--table {
  overflow-x: scroll;
}

.o-enterprise-card__section-container {
  @include flex-container(flex-start, flex-start, flex-start);
  @include flex-item(40px, 1);
  padding: 24px;
}

.o-enterprise-card__section-container--xs {
  flex-basis: 80px;
}

.o-enterprise-card__section-container--sm {
  flex-basis: 160px;
}

.o-enterprise-card__section-container--md {
  flex-basis: 200px;
}

.o-enterprise-card__section-container--lg {
  flex-basis: 280px;
}

.o-enterprise-card__section-container--full-width {
  flex-basis: 100%;
}

.o-enterprise-card__section-container--no-padding {
  padding: 0;
}

.o-enterprise-card__section-container--beyond-terms-summary {
  flex-basis: 400px;
  padding-top: 16px;
  padding-right: 16px;
}
