.c-list-card-section {
  @include flex-container(space-between, $wrap: nowrap);
  @include flex-item(100%);
  padding-bottom: 4px;

  > p {
    @include flex-item(200px, 1);
  }

  > strong {
    @include flex-item(200px);
    font-size: 14px;
  }
}

.c-list-card-section--align-strong-right {
  > strong {
    text-align: right;
  }
}

.c-horizontal-list-card-section {
  flex-basis: 240px;
  padding: 8px;

  > small {
    width: 100%;
    color: $cl-neutral-3;
  }
}

.c-horizontal-list-card-section-placeholder {
  flex-basis: 240px;
  padding-top: 0;
  padding-bottom: 0;
}

.c-ordered-list-card-section {
  @include flex-item(160px, 1);
  margin: 0;
  padding: 32px 24px;
  color: $cl-neutral-5;
  list-style-position: inside;
}
