.c-enterprise-pdf-header,
.c-enterprise-pdf-footer {
  display: none;
}

@media print {
  .c-enterprise-score {
    display: none;
  }

  .c-enterprise__tabs-container {
    display: none;
  }

  .c-enterprise__header {
    display: none;
  }

  .o-enterprise-card {
    margin-bottom: 0;
  }

  .c-enterprise-pdf-header {
    @include flex-container(space-between, flex-start, flex-start, nowrap);
    width: 100%;

    > img {
      width: 200px;
      height: auto;
    }
  }

  .c-enterprise-pdf-header__score-container {
    > img {
      width: 200px;
      height: auto;
    }

    > p {
      padding-top: 4px;

      &:first-child {
        line-height: 1;
      }
    }

    > h1 {
      width: 100%;
      padding-top: 16px;
      font-size: 48px;
      font-weight: 200;
    }
  }

  .c-enterprise-pdf-footer {
    @include flex-container(flex-start, flex-end, flex-end, nowrap);
    width: 100%;
    min-height: 200px;
    padding-top: 48px;
    font-style: italic;

    > p {
      line-height: 1;
    }

    > img {
      width: 120px;
      height: auto;
      padding-left: 8px;
    }
  }

  .c-beyond-terms-summary-card-section {
    border: 0;
  }
}
