.c-enterprise-score-factor-header {
  padding-left: 16px;
  font-weight: 600;
}

.c-enterprise-score-factor {
  @include flex-container(space-between, center, center, nowrap);
  @include flex-item(100%);
  padding: 16px;
  transition: background-color 0.3s;
  background-color: $cl-white;

  &:hover {
    background-color: $cl-neutral-1;
  }

  > p {
    @include flex-item(280px, 1);
    color: $cl-neutral-5;
  }
}

.c-enterprise-score-factor__status {
  @include flex-container(space-between, $wrap: nowrap);
  @include flex-item(140px, 1);

  > img {
    width: 16px;
    height: 24px;
  }
}
