.c-buz-lookup__email-header {
  @include flex-container($wrap: nowrap);
  padding-top: 32px;
  padding-bottom: 16px;
}

.c-buz-lookup__email-header-img {
  padding-right: 16px;

  > img {
    width: 64px;
    height: auto;
  }

  @include if-screen-smaller-than(sm) {
    display: none;
  }
}

.c-buz-lookup__email-header-text {
  @include flex-item(280px, 1);

  > strong {
    width: 100%;
  }
}

.c-biz-lookup__email-form {
  @include if-screen-smaller-than(sm) {
    input,
    button,
    textarea {
      margin: 8px 0;
    }
  }
}
