.c-mf-factor-list {
  flex-basis: 100%;
  padding: 16px;

  > p {
    padding-bottom: 24px;
    @include copy-large;
  }
}

.c-mf-factor-list.c-mf-factor-list--wide-card {
  > .c-mf-factor-list__title p {
    padding-left: 8px;
    color: $cl-primary-3;
    font-weight: 800;
  }

  .c-mf-score__factor-icon {
    // stylelint-disable-next-line sh-waqar/declaration-use-variable
    background-color: lighten($cl-neutral-1, 4%);
  }

  @include if-screen-smaller-than(sm) {
    margin: 8px 16px;
    padding: 0;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 8px $cl-neutral-3;

    > .c-mf-factor-list__title {
      padding: 16px;
    }

    .c-mf-score__factor-icon {
      background-color: $cl-white;
    }
  }
}

.c-mf-factor-list__content {
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;

  @include if-screen-smaller-than(sm) {
    max-height: 0;
  }
}

.c-mf-factor-list__title {
  @include flex-container(flex-start, center, center, $wrap: nowrap);
  padding-bottom: 16px;
}

.c-mf-factor {
  @include flex-container();
  @include flex-item(100%);
  border-top: 1px solid $cl-border;

  &:last-of-type {
    border-bottom: 1px solid $cl-border;
  }

  @include if-screen-smaller-than(sm) {
    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.c-mf-factor.is-open {
  .c-mf-factor__chevron {
    transform: rotateX(180deg);
  }

  .c-mf-factor__description {
    padding-bottom: 8px;
    transition: max-height ease-in-out 0.2s, opacity linear;
    opacity: 1;
  }
}

.c-mf-factor__header {
  @include flex-container(left, center, center, false);
  @include flex-item(100%);
  padding: 16px 0;
  cursor: pointer;

  p {
    margin-right: auto;
    padding-right: 8px;
  }

  span {
    color: $cl-neutral-5;
    font-weight: 600;
  }
}

.c-mf-factor__icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.c-mf-factor__chevron {
  width: 16px;
  height: auto;
  margin-right: 8px;
  transform: rotateX(0);
  transition: transform 0.3s ease-in-out;
}

.c-mf-factor__description {
  max-height: 0;
  transition: max-height ease-in-out 0.2s, opacity linear 0.1s;
  font-size: 14px;
  opacity: 0;
  overflow: hidden;
}

.c-mf-tip {
  display: block;
  margin-top: 16px;
}

.c-mf-tip__btn {
  margin-top: 16px;
}

.c-mf-tip__link {
  display: block;
  margin-top: 16px;
  text-align: center;
}

.c-mf-factor-list__expand-btn {
  @include flex-container(center, center, $wrap: nowrap);
  @include flex-item(100%);
  display: none;
  padding: 4px;
  border-top: 1px solid $cl-border;
  background-color: $cl-neutral-1;
  cursor: pointer;

  > h3 {
    padding-right: 8px;
    color: $cl-secondary-2;
  }

  > img {
    width: 16px;
    height: auto;
    margin-top: 2px;
    transition: transform 0.3s ease-in-out;
  }

  &.is-open {
    > img {
      transform: rotateX(180deg);
    }
  }

  @include if-screen-smaller-than(sm) {
    display: flex;
  }
}
