.c-mf-requirements-list {
  @include flex-item(160px);
  font-size: 14px;

  h4 {
    padding-bottom: 8px;
    font-weight: 600;
  }

  li {
    @include flex-container(left, top, top, nowrap);
    padding-bottom: 4px;
    list-style: none;
  }

  img {
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-right: 4px;
  }
}

.c-mf-requirements-key {
  @include flex-container(center);
  @include flex-item(100%);

  li {
    @include flex-container(center, center, center);
    flex-basis: auto;
    margin: 8px;
    font-size: 14px;
    list-style: none;

    img {
      margin-right: 4px;
    }
  }
}
