.c-market__card-container {
  @include flex-container($wrap: nowrap);
  @include flex-item(100%);
}

.c-offer-card {
  @include flex-item(264px, 1, 504px);
  background-color: $cl-white;
  overflow: hidden;

  p {
    font-size: 12px;
    line-height: 1;
  }

  hr {
    margin: 0 16px;
    border-top: 1px solid $cl-border;
  }
}

.c-offer-card.c-offer-card--placeholder {
  border: 0;
  background-color: $cl-black--transparent;
  box-shadow: none;
}

.c-offer-card.c-offer-card--show-more {
  @include flex-container(center, center, center);
  display: none;
  text-align: center;

  .c-btn {
    @include flex-item(120px, 0);
  }

  @include if-screen-smaller-than(sm) {
    display: flex;
  }
}

.c-offer-card.is-open {
  .c-match-factor-card {
    transform: translateX(0%);
  }
}

.c-offer-card__header {
  min-height: 112px;
  padding-right: 40px;
  padding-bottom: 24px;
}

.c-offer-card__visuals {
  @include flex-container(center, $wrap: nowrap);
  @include flex-item(100%);
  padding-right: 8px;
  padding-left: 8px;
}

.c-offer-card__match-factor {
  @include flex-container();
  @include flex-item(96px);
}

.c-offer-card__match-factor-link {
  @include flex-item(100%);
  padding-top: 4px;
  color: $cl-neutral-4;
  font-size: 12px;
  line-height: 1;
  text-align: center;

  &:hover {
    color: $cl-neutral-4;
  }
}

.c-offer-card__match-factor-link._ab-test {
  width: 100%;
  min-width: inherit;
  min-height: inherit;
  margin: 0;
  padding: 8px 4px;
  color: $cl-white;
  font-size: 10px;
  font-weight: 400;

  &:focus {
    border: 1px solid $cl-primary-2;
  }
}

.c-offer-card__stats {
  @include flex-container;
  @include flex-item(100%);
  margin: 0 16px;
  padding: 24px 0;
  border-top: 1px solid $cl-neutral-2;
}

.c-offer-card__description {
  padding: 16px;

  // overide for c-offer-card p{} TODO remove once old marketplace is removed.
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.786;
  }
}

.c-match-factor-card {
  @include flex-container($direction: column);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  transform: translateX(-101%);
  transition: transform 0.5s ease-in-out;
  outline: 1px solid $cl-neutral-2;
  background-color: $cl-white;
  z-index: 15;
}

.c-match-factor-card--not-hidden {
  height: inherit;
  border: 1px solid $cl-neutral-2;
  border-radius: 4px;
  background-color: $cl-white;
  z-index: 15;
  @include flex-container($direction: column);

  .c-close-btn {
    display: none;
  }
}

.c-offer-image {
  @include flex-item(164px, 0);
  padding-right: 8px;
  padding-left: 8px;

  img {
    width: 100%;
    height: auto;
  }
}

.c-loan-type {
  @include flex-item(180px, 0);
  padding-top: 16px;
  padding-right: 8px;
  padding-left: 8px;

  > h2 {
    line-height: 1;
  }

  > p {
    line-height: 1;
    text-transform: uppercase;
  }

  > a {
    display: block;
    padding-top: 12px;
    font-size: 12px;
    line-height: 1;
  }
}

._c-offer-badges__check {
  width: 50%;
}

.c-offer-stat {
  @include flex-container($wrap: nowrap);
  @include flex-item(100%);
  padding-top: 8px;
  font-size: 12px;
  list-style: none;

  > p {
    @include flex-item(50px, 1);
    padding-right: 8px;
  }
}

.c-offer-stat__title {
  color: $cl-neutral-4;
  text-align: right;
}

.c-top-offers {
  @include flex-container();
  width: 100%;
  margin-top: 32px;
  margin-bottom: 24px;
  border-bottom: 2px solid $cl-neutral-2;
}

.c-offer-card--top-offers {
  @include flex-item(240px, 1);
  border: 1px solid $cl-neutral-2;
  box-shadow: 0 12px 24px -8px transparentize($cl-neutral-3, 0.6), 0 12px 24px -8px transparentize($cl-primary-2, 0.9);

  &:hover {
    box-shadow: 0 16px 24px -8px transparentize($cl-neutral-3, 0.5), 0 12px 24px -8px transparentize($cl-primary-2, 0.9);
  }
}

.c-top-offers__container {
  @include flex-container();
}
