.c-offer-tags {
  margin-top: 8px;
  margin-bottom: 8px;
  @include flex-container($wrap: nowrap);
  @include flex-item(100%);

  p {
    font-size: 12px;
  }

  @include if-screen-smaller-than(sm) {
    justify-content: center;

    .c-offer-tags__tag {
      @include flex-item(100px, 1);
    }
  }
}

.c-offer-tags.c-offer-tags--centered {
  justify-content: center;

  .c-offer-tags__tag {
    @include flex-item(100px, 1);
  }
}

.c-offer-tags__tag {
  @include flex-container($wrap: nowrap, $align-items: center, $justify-content: center);
  @include flex-item(auto);
  padding: 4px 16px;
  border-right: 1px solid $cl-border;

  > p {
    padding-left: 8px;
    line-height: 1;
    text-transform: uppercase;
  }

  &:last-child {
    border-right: 0;
  }
}
