/* ===============================
    Match Factor Card back
================================== */
.c-card-back__header {
  padding: 16px;
  padding-bottom: 0;
  @include flex-container($wrap: nowrap, $align-items: middle);
  @include flex-item($grow: 0);
}

.c-card-back__description {
  padding-left: 16px;
  color: $cl-neutral-4;
  font-size: 12px;
  line-height: 1.2;
  @include flex-item(50px, 1);
}

.c-card-back__content {
  padding: 16px;
  overflow-y: auto;
  position: relative;
  height: inherit;
  @include flex-item($grow: 1);
}

.c-match-factor-item {
  @include flex-item(100%);
  background-color: $cl-neutral-0;
  margin-bottom: 8px;
  input {
    display: none;
  }
  input:checked ~ label img {
    transform: rotateZ(0);
  }
  input:checked ~ .c-match-factor-item__description {
    max-height: 50px;
    transition: max-height .3s ease-in;
  }
}

.c-match-factor-item__header {
  @include flex-item(100%);
  @include flex-container($wrap: nowrap, $align-content: top);
}

.match-factor-item__name {
  font-size: 14px;
}

.match-factor-item__value {
  font-size: 14px;
  margin-left: auto;
  font-weight: 600;
  padding-left: 16px;
}

.c-match-factor-item__fail-icon {
  display: none;
  padding-left: 4px;
  padding-top: 2px;
}

.c-match-factor-item__chevron {
  width: 24px;
  height: 22px;
  flex-shrink: 0;
  img {
    transform: rotateZ(-90deg);
    transition: transform .3s ease-in-out;
  }
}

.c-match-factor-item__description {
  display: block;
  max-height: 0;
  padding-left: 24px;
  font-size: 12px;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

.c-match-factor-item--pass {
  .c-match-factor-item__header span {
    color: $cl-good;
  }
  .c-match-factor-item__content span {
    color: $cl-good
  }
}

.c-match-factor-item--unknown {
  .c-match-factor-item__header span {
    color: $cl-fair;
  }
  .c-match-factor-item__content span {
    color: $cl-fair
  }
}

.c-match-factor-item--fail {
  .c-match-factor-item__header {
    color: $cl-poor;
    .c-match-factor-item__fail-icon {
      display: block;
    }
  }
  .c-match-factor-item__content span {
    color: $cl-poor
  }
}

.c-match-factor-item__fail-icon {
  display: none;
  padding-top: 2px;
  padding-left: 4px;
}

.c-match-factor-item__chevron {
  flex-shrink: 0;
  width: 24px;
  height: 22px;

  img {
    transform: rotateZ(-90deg);
    transition: transform 0.3s ease-in-out;
  }
}

.c-match-factor-item__description {
  display: block;
  max-height: 0;
  padding-left: 24px;
  transition: max-height 0.4s ease-out;
  font-size: 12px;
  overflow: hidden;
}


.c-match-factor-item--pass {
  .c-match-factor-item__header span {
    color: $cl-good;
  }

  .c-match-factor-item__content span {
    color: $cl-good;
  }
}

.c-match-factor-item--unknown {
  .c-match-factor-item__header span {
    color: $cl-fair;
  }

  .c-match-factor-item__content span {
    color: $cl-fair;
  }
}


.c-match-factor-item--fail {
  .c-match-factor-item__header {
    color: $cl-poor;

    .c-match-factor-item__fail-icon {
      display: block;
    }
  }

  .c-match-factor-item__content span {
    color: $cl-poor;
  }
}


.c-favorite-toggle {
  cursor: pointer;
  width: 20px;
  position: absolute;
  top: 0;
  right: 16px;
}

.c-offer-badges {
  margin-top: 24px;
  margin-bottom: 24px;
  @include flex-container($wrap: nowrap, $justify-content: center);
  @include flex-item(100%)
}

.c-offer-badges__check {
   width: 50%;
}

.c-offer-badges__badge {
  border-right: 1px solid $cl-neutral-2;

  padding-right: 16px;
  padding-left: 16px;
  @include flex-container($wrap: nowrap, $justify-content: center);
  @include flex-item(128px);
  & > p {
    padding: 0 8px;
    line-height: 1;
    text-transform: uppercase;
  }
  &:last-child {
    border-right: none;
  }
}

.c-offer-card .o-card__footer.c-btn-group {
  flex-grow: 0;
}
