.c-build-tool-tile {
  @include flex-container(center, middle);
  @include flex-item(244px, 1);
  padding: 16px 8px;
  transition: background-color 0.2s linear;
  cursor: pointer;

  &:hover {
    background-color: $cl-neutral-1;
  }
}

.c-build-tool-tile__img {
  width: 72px;
  height: auto;
}

.c-build-tool-tile__copy {
  @include flex-item(100px, 1);
  padding: 0 8px;
  color: $cl-neutral-4;

  p {
    font-weight: 300;
  }
}
