.c-callout-card {
  @include flex-container($direction: row);
  margin: 0 8px 40px;
  padding: 40px 24px;
  color: $cl-white;
}

.c-callout-card.c-callout-card--goal {
  // Needed to wrap the background property
  // scss-lint:disable SpaceAfterPropertyColon
  background:
    linear-gradient(
      transparent 15%,
      lighten($cl-secondary-2, 20%),
      transparent 15%,
      $cl-secondary-2
    ),
    url('https://dxkdvuv3hanyu.cloudfront.net/design-assets/images/bg-goals-callout.svg') no-repeat center,
    linear-gradient(lighten($cl-secondary-2, 20%), $cl-secondary-2);
}

.c-callout-card.c-callout-card--financing {
  padding: 24px;
  padding-bottom: 16px;
  background:
    linear-gradient(to top right, $cl-accent-8, transparent 50%),
    linear-gradient(to top left, lighten($cl-secondary-2, 20%), transparent 50%),
    linear-gradient($cl-primary-3, $cl-secondary-2);

  background-size: cover;
}

.c-callout-card__info {
  @include flex-container();
  @include flex-item(240px, 1);
  padding-left: 8px;
}

.c-callout-card__header {
  > h3 {
    padding-top: 16px;
    font-style: italic;
  }
}

.c-callout-card__img-container {
  @include flex-container(flex-end);
  @include flex-item(30px);

  @include if-screen-smaller-than(sm) {
    display: none;
  }
}

.c-callout-card__financing-img {
  width: 30px;
  height: 30px;
  margin-bottom: 8px;

  > img {
    width: 100%;
    height: auto;
  }
}

.c-callout-card__btn-container {
  @include flex-container(flex-end, flex-end);
  @include flex-item(160px, 1);

  @include if-screen-smaller-than(sm) {
    justify-content: flex-start;
  }

  > a {
    align-self: flex-end;
    margin-top: 16px;
  }
}

.c-callout-card__btn-container.c-callout-card__btn-container--bottom {
  @include flex-container(flex-start, center);
  flex-basis: 100%;
  align-self: flex-end;
  margin-top: 16px;

  > a {
    align-self: center;
    margin-top: 0;
    margin-right: 16px;
  }

  > .c-btn {
    margin-bottom: 0;
    margin-left: 0;

    @include if-screen-smaller-than(sm) {
      margin-bottom: 8px;
    }
  }
}

.c-callout-card__white-link {
  color: $cl-white;

  &:hover {
    color: $cl-white;
  }
}
