@keyframes open-card-menu {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.c-card-menu {
  position: relative;
  align-self: flex-start;
  margin-left: auto;
}

.c-card-menu__toggle {
  transition: color 0.1s linear;
  color: $cl-neutral-4;
  cursor: pointer;

  li {
    font-size: 12px;
    line-height: 0.9;
  }

  &:hover {
    color: $cl-neutral-5;
  }
}

.c-card-menu__options {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: inherit; // Overides bootstrap class, can be removed once dropdown-menu class is remvoed.
  min-width: 160px;
  padding: 4px 0;
  border: 1px solid $cl-border;
  border-radius: 0;
  background-color: $cl-white;
  font-size: 14px;
  text-align: left;
  // stylelint-disable-next-line sh-waqar/declaration-use-variable
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  z-index: 10;
  animation: open-card-menu 0.1s;

  a {
    display: block;
    width: 100%;
    padding: 4px 8px 4px 16px;
    color: $cl-neutral-7;

    &:hover {
      background-color: $cl-neutral-1;
    }
  }
}
