.c-dashboard__insights {
  position: relative;
  @include flex-container(center);
  flex-grow: 1;
  min-height: 400px;
  padding: 16px 56px;

  img,
  h2,
  p {
    padding-bottom: 16px;
  }

  h2,
  p {
    flex-basis: 100%;
    text-align: center;
  }

  // Because we haver really long text in the buttons, this makes it so it can wrap lines.
  a {
    height: inherit;
  }
}

.c-dashboard__insight-arrow {
  position: absolute;
  top: 0;
  @include flex-container($align-items: middle);
  height: 100%;
  padding: 4px;
  transform: translateX(0);
  transition: transform 0.2s ease-in-out, background-color 0.1s linear;
  font-size: 42px;
  cursor: pointer;

  &:hover {
    background-color: $cl-neutral-0;
  }
}

.c-dashboard__insight-arrow.c-dashboard__insight-arrow--right {
  right: 0;

  &:hover {
    transform: translateX(4px);
  }
}

.c-dashboard__insight-arrow.c-dashboard__insight-arrow--left {
  left: 0;

  &:hover {
    transform: translateX(-4px);
  }
}

.c-dashboard__insights-contents {
  @include flex-container(center);
  max-width: 680px;
}

.c-dashboard__insight-carousel {
  @include flex-container();

  @include if-screen-smaller-than(1090px) {
    flex-direction: column;

    .c-dashboard__insight-carousel-button.is-selected {
      border-top: 1px solid $cl-border;
      color: $cl-secondary-2;
    }
  }
}

.c-dashboard__insight-carousel-button {
  flex-grow: 1;
  margin: 0;
  padding: 16px 8px;
  transition: background-color 0.1s linear, color 0.1s linear;
  border-top: 1px solid $cl-border;
  border-right: 1px solid $cl-border;
  background-color: $cl-neutral-0;
  color: $cl-neutral-5;
  font-size: 12px;
  text-align: center;

  &:hover {
    background-color: $cl-secondary-2;
    color: $cl-white;
  }

  &:last-child {
    border-right: 0;
  }

  &.is-selected {
    border-top: 1px solid $cl-white;
    background-color: $cl-white;
    color: $cl-neutral-6;
  }
}
