// TODO: OLD Style, Kill them eventually please.
// scss-lint:disable all

.tile-footer {
  background-color: $cl-neutral-0;
  border-top: 1px solid  $cl-neutral-2;

  &:hover {
    cursor: pointer;
    background-color: $cl-secondary-2;
    transition: background-color .2s linear;

    p {
      color: #fff;
    }

    > * {
      color: #fff !important;
    }
  }

  a {
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

  p {
    font-size: 11px;
    margin: 0;
    padding: 14px;
    color: #666;
    font-weight: 400;
  }
}
