.c-dashboard__resource {
  @include flex-container($direction: column);
  @include flex-item(250px, 1);
  align-self: stretch;
  border-right: 1px solid $cl-border;

  &:last-child {
    border-right: 0;
  }

  h3 {
    padding: 8px 0;
    color: $cl-neutral-5;
  }

  @include if-screen-smaller-than(820px) {
    flex-basis: 100%;
    margin-top: 32px;
    border-right: 0;
    border-bottom: 1px solid $cl-border;

    &:last-child {
      border-bottom: 0;
    }

    .c-dashboard__resource-footer {
      border-top: 1px solid $cl-neutral-1;
    }
  }
}

.c-dashboard__resource-body {
  @include flex-container();
  flex-grow: 1;
  padding: 8px 24px;

  .c-btn {
    margin: 0;
  }
}

.c-dashboard__resource-footer {
  padding: 16px 8px;
  transition: color 0.1s linear, background-color 0.1s linear;
  border-top: 1px solid $cl-border;
  background-color: $cl-neutral-0;
  color: $cl-neutral-5;
  font-size: 12px;
  text-align: center;

  &:hover {
    background-color: $cl-secondary-2;
    color: $cl-white;
  }
}
