.c-btn-group {
  // Lots of one time use colors for buton states, also necessary nesting
  // scss-lint:disable VariableForProperty, ColorVariable, NestingDepth
  @include flex-container($wrap: false);
  flex-grow: 1;
  min-height: 40px;
  border-top: 1px solid $cl-neutral-2;
  border-radius: 0 0 4px 4px;

  .c-btn-group__btn {
    display: block;
    @include flex-item(64px, 1);
    align-self: flex-start;
    min-height: 40px;
    margin: 0;
    padding: 12px 16px;
    transition: background-color 0.08s linear, color 0.08s linear, border-color 0.08s linear;
    border: 0;
    border-right: 1px solid $cl-neutral-2;
    outline: 0 solid $cl-black--transparent;
    color: $cl-secondary-2;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    overflow: hidden;

    @at-root a#{&} {
      height: 32px;
    }

    @at-root button#{&} {
      min-height: 32px;
    }

    span {
      display: block;
      width: 100%;
      transition: color 0.08s linear;
      color: $cl-neutral-4;
      font-size: 10px;
      text-transform: none;
    }

    &:last-child {
      border-right: 0;
    }

    &:hover {
      outline: 0 solid $cl-black--transparent;
      background-color: scale-color($cl-secondary-2, $lightness: 10%);
      color: $cl-white;
      text-decoration: none;

      span {
        color: $cl-white;
      }
    }

    &:active {
      outline: 0 solid $cl-black--transparent;
      outline-offset: 0;
      background-color: scale-color($cl-secondary-2, $lightness: -10%);
    }

    &:focus {
      outline: 0 solid $cl-black--transparent;
      outline-offset: 0;
    }

    &[disabled] {
      background-color: scale-color($cl-neutral-6, $lightness: 10%);
      cursor: not-allowed;

      &:hover {
        background-color: scale-color($cl-neutral-6, $lightness: 10%);
      }

      &:active {
        background-color: scale-color($cl-neutral-6, $lightness: -90%);
      }

      &:focus {
        background-color: scale-color($cl-neutral-6, $lightness: 90%);
      }
    }
  }

  .c-btn-group__btn.c-btn-group__btn--primary {
    background-color: $cl-secondary-2;
    color: $cl-white;
  }
}

.c-btn-group.c-btn-group--mobile {
  @include if-screen-smaller-than(sm) {
    @include flex-container($wrap: true);

    .c-btn-group__btn {
      width: 100%;
    }
  }
}
