// TODO refactor this and make them more reusable.

.c-profile__data-form {
  margin-bottom: 24px;
  padding: 24px;
  padding-bottom: 8px;
  background-color: $cl-white;
  font-size: 12px;
}

.o-input-wrapper {
  position: relative;
  height: 64px;
  margin-bottom: 16px;
  padding: 0;
  padding-right: 24px;
  transition: all 0.3s ease-in-out; // TODO why does this use all? it shouldn't
  border-radius: 4px;
}

.o-input-wrapper.has-error {
  > input {
    border-color: $cl-error;
  }

  > label {
    color: $cl-error;
  }
}

.o-input-wrapper input {
  display: block;
  position: absolute;
  width: 92%;
  height: 100%;
  padding-left: 16px;
  transition: all 0.3s ease-in-out; // TODO why does this use all? it shouldn't
  border: 1px solid $cl-neutral-2;
  border-radius: 4px;
  outline: 0;
  background: $cl-white;
  color: $cl-neutral-7;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  appearance: none;
}

.o-input-wrapper label {
  position: absolute;
  top: 22px;
  left: 0;
  padding-left: 16px;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s ease-in-out; // TODO why does this use all? it shouldn't
  color: $cl-neutral-3;
  font-size: 14px;
}

.o-input-wrapper input:focus {
  border: 1px solid $cl-secondary-2;
}

.o-input-wrapper input:focus + label,
.o-input-wrapper--has-value + label,
.o-input-wrapper input:hover + label {
  position: absolute;
  top: 8px;
  transform: translate3d(0, -24px);
  color: $cl-secondary-2;
  font-size: 12px;
  font-weight: 400;
}

.o-input-wrapper.o-input-wrapper--full-width {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-right: 0;
}

.o-input-wrapper--simple input {
  width: 100%;
  padding-top: 14px;
}

.o-input-wrapper--simple label {
  top: 8px;
  transform: translate3d(0, -24px);
  font-size: 12px;
  font-weight: 400;
}

.o-input-wrapper--simple input:focus + label,
.o-input-wrapper--simple input:hover + label {
  color: $cl-secondary-2;
}

.o-input-wrapper.o-input-wrapper--sm {
  height: 48px;
}

.o-input-wrapper--sm label,
.o-input-wrapper--sm input:focus + label,
.o-input-wrapper--sm input:hover + label {
  top: 0;
}

.o-form-text {
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.c-form-group__button {
  width: 100%;
  height: 64px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  background-color: $cl-secondary-2;
  color: $cl-neutral-1;
  font-size: 14px;
  font-weight: 600;
}

.o-form {
  position: relative;
  width: 100%;
  @include flex-container();
}

.o-form.o-form--no-margin {
  .c-input-wrapper {
    > input {
      margin: 0;
      padding: 32px 24px 16px;
      border-bottom: 0;
      border-radius: 0;
    }

    > label {
      top: 16px;
      left: 24px;
    }

    &:first-child > input {
      border-radius: 4px 4px 0 0;
      overflow: hidden;
    }
  }

  > button {
    width: 100%;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid $cl-neutral-3;
    border-radius: 0 0 4px 4px;

    > span {
      position: relative;
      top: 4px;
      padding-left: 8px;
      color: $cl-fair;
      font-size: 30px;
    }
  }
}

.c-input-wrapper {
  position: relative;
  @include flex-item(100%);
  @include flex-container();

  &:hover {
    > input {
      border-color: $cl-primary-2;
    }

    > label {
      bottom: 32px;
      color: $cl-primary-2;
      font-size: 12px;
    }
  }

  > input {
    @include flex-item(100%);
    margin: 8px;
    padding: 24px 16px 8px;
    border: 1px solid $cl-neutral-3;
    border-radius: 4px;
    outline: 0;

    &:focus {
      border-color: $cl-secondary-2;
    }

    &:focus + label {
      bottom: 32px;
      color: $cl-secondary-2;
      font-size: 12px;
    }
  }

  > label {
    position: absolute;
    bottom: 16px;
    left: 24px;
    transition: all 0.1s ease; // TODO why is this transition all? shouldn't be.
    color: $cl-neutral-4;
    font-size: 16px;
    cursor: text;
  }
}

.c-input-wrapper.c-input-wrapper--half {
  @include flex-item(160px, 1);
}

.c-input-wrapper.has-value > label {
  bottom: 32px;
  font-size: 12px;
}

.c-input-wrapper__field.has-value {
  + label {
    bottom: 32px;
    font-size: 12px;
  }
}

.c-password-show {
  position: absolute;
  right: 24px;
  bottom: 16px;
  transition: color 0.3s;
  color: $cl-neutral-4;
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    color: $cl-secondary-2;
  }
}

.c-form-validate {
  @include flex-container();
  flex-basis: 100%;
  padding: 8px;
  color: $cl-poor;

  > p {
    padding-right: 16px;
  }

  span {
    margin-right: 8px;
  }
}
