.c-switch {
  position: absolute;
  opacity: 0;
}

.c-switch:focus + label::before {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
}

.c-switch + label {
  display: block;
  position: relative;
  width: 40px;
  height: 20px;
  padding: 2px;
  border-radius: 30px;
  outline: none;
  background-color: $cl-neutral-2;
  cursor: pointer;
  user-select: none;
}

.c-switch + label::before,
.c-switch + label::after {
  display: block;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
}

.c-switch + label::before {
  right: 1px;
  transition: background 0.4s;
  border-radius: 20px;
  background-color: $cl-neutral-1;
}

.c-switch + label::after {
  width: 19px;
  transition: background 0.3s, background-color 0.3s, width 0.3s, border-radius 0.3s;
  border-radius: 100%;
  background-color: $cl-white;
}

.c-switch:checked + label::before {
  background-color: $cl-neutral-2;
}

.c-switch:checked + label::after {
  transform: translateX(19px);
}

.c-switch.c-switch--small + label {
  width: 30px;
  height: 15px;
  border-radius: 15px;
}

.c-switch.c-switch--small + label::before {
  border-radius: 15px;
}

.c-switch.c-switch--small + label::after {
  width: 14px;
}

.c-switch.c-switch--small:checked + label::after {
  transform: translateX(14px);
}

.c-switch.c-switch--large + label {
  width: 60px;
  height: 30px;
  border-radius: 30px;
}

.c-switch.c-switch--large + label::before {
  border-radius: 30px;
}

.c-switch.c-switch--large + label::after {
  width: 28px;
}

.c-switch.c-switch--large:checked + label::after {
  transform: translateX(30px);
}

.c-switch--primary-2.c-switch:checked + label::before {
  background-color: $cl-primary-2;
}

.c-switch--accent-1.c-switch:checked + label::before {
  background-color: $cl-accent-1;
}

.c-switch--accent-2.c-switch:checked + label::before {
  background-color: $cl-accent-2;
}

.c-switch--accent-3.c-switch:checked + label::before {
  background-color: $cl-accent-3;
}

.c-switch--accent-4.c-switch:checked + label::before {
  background-color: $cl-accent-4;
}

.c-switch--accent-5.c-switch:checked + label::before {
  background-color: $cl-accent-5;
}

.c-switch--accent-6.c-switch:checked + label::before {
  background-color: $cl-accent-6;
}
