html,
html a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: subpixel-antialiased;
}

body,
input {
  color: $cl-neutral-5;
  font-family: averta, helvetica, arial;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span {
  margin: 0;
  font-family: averta, helvetica, arial;
  font-weight: 400;
}

// stylelint-disable-next-line selector-no-qualifying-type
h1.h0 {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.125;
  text-transform: uppercase;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.188;
}

h2 {
  font-size: 24px;
  line-height: 1.167;
}

h3 {
  font-size: 20px;
  line-height: 1.3;
}

@include if-screen-smaller-than(sm) {
  // stylelint-disable-next-line selector-no-qualifying-type
  h1.h0 {
    font-size: 24px;
    line-height: 1.167;
  }

  h1 {
    font-size: 20px;
    line-height: 1.3;
  }

  h2 {
    font-size: 18px;
    line-height: 1.563;
  }

  h3 {
    font-size: 16px;
    line-height: 1.786;
  }
}

p,
li {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.786;
}

small {
  font-size: 12px;
  line-height: 1.786;
}

label {
  font-size: 12px;
  line-height: 1.786;
}
