.c-full-page-card {
  @include flex-container();
  @include flex-item(984px);
  @include box-shadow(dark);
  margin: 32px 24px;
  padding: 24px 96px 48px;
  border-radius: 8px;
  background-color: $cl-white;

  > h3 {
    flex-basis: 100%;
    margin: 8px;
    font-weight: 600;
  }

  > p {
    flex-basis: 100%;
    margin-top: 8px;
    font-size: 12px;
    text-align: center;
  }

  > .c-signup-page__header {
    margin-right: 0;
    margin-left: 0;
  }

  > .c-btn {
    margin-right: auto;
    margin-left: auto;
  }

  @include if-screen-smaller-than(sm) {
    margin: 0;
    padding: 0 16px 32px;
    box-shadow: none;
  }
}

.c-full-page-card.c-full-page-card--small {
  @include flex-item(800px);
}

.c-full-page-card__sub-header {
  flex-basis: 100%;
  font-weight: 600;
  text-align: center;
}

.c-full-page-card__upgrade-option {
  @include flex-item(240px, 1);
  @include flex-container();
  align-content: space-between;
  margin: 8px 8px 16px;
  padding-bottom: 16px;
  border: 1px solid $cl-neutral-2;

  > .c-btn {
    margin-right: 16px;
    margin-left: auto;
  }

  @include if-screen-smaller-than(sm) {
    @include box-shadow(dark);
    flex-basis: 100%;
    border: 0;
  }
}

.c-full-page-card__upgrade-description {
  flex-basis: 100%;
  margin: 24px 16px;

  > strong {
    padding-left: 4px;
  }
}

// stylelint-disable-next-line selector-no-qualifying-type
p.c-full-page-card__copy {
  font-size: 14px;
}

.c-full-page-card__price {
  align-self: center;
  padding-left: 12px;
  border-left: 4px solid $cl-border;
  font-size: 16px;
  font-weight: 600;
}

.c-full-page-card__price.c-full-page-card__price--essential {
  border-color: $cl-accent-5;
}

.c-full-page-card__price.c-full-page-card__price--premium {
  border-color: $cl-primary-2;
}
