// TODO: OLD Style, Kill them eventually please.
// scss-lint:disable all

#freemiumModal {
  p {
    margin-bottom: 24px;
  }

  .freemium-signup-header span {
    background-color: #ddd;
    color: #aaa;
    font-weight: 600;
  }

  .payment-bar {
    background-color: #fff;
    border: 1px solid  $cl-neutral-2;
    padding: 16px;
    color: inherit;

    .active {
      span {
        background-color:  $cl-accent-1;
        color: #fff;
      }

      color:  $cl-accent-1;
    }

    #id-verification-tips strong {
      margin-bottom: 8px;
    }

    .precise-id-timer-header {
      margin-bottom: 32px;
    }
  }

  .btn-success {
    margin-bottom: 12px;
  }

  .verify-legal {
    margin-bottom: 6px;
  }

  input:focus,
  select:focus,
  select.flat-select:focus,
  select.flat-select:active {
    border-color: $cl-primary-2;
  }

  .payment-form-box {
    margin: 0;
    margin-bottom: 16px;
  }

  .alert-settings-freemium,
  .btn-continue {
    margin-top: 16px;
  }

  .opt-out-btn {
    display: inline-block;
    width: inherit;
  }

  th {
    font-weight: 600;
  }
}

.business-required {
  font-size: 12px;
}

.no-business-alert {
  font-size: 18px;
  text-align: center;
}

.no-business-alert .btn {
  margin-top: 10px;
}

/* Thems are new */

.precise-id-timer-header {
  padding: 16px 0;
  font-size: 16px;
  font-weight: 600;
}

.precise-id-timer {
  margin: 0 4px;
  color: #00bb7b;
  font-weight: 600;
}

.check-progress-date{
  font-style: italic;
  color:#999;
  font-size:12px;
  margin-top: 3px;
}

.goal-task-complete span.task-complete-text{
  text-decoration: none;
}

.goal-complete-message .fa-trophy{
  color:#FCAA30;
}

.sweeper-list-box hr{
  border-top: 1px solid #ccc;
  margin:10px 0;
}

/*some new responsives*/

@media (max-width: 767px) {
  .xs-block{
    clear:both;
    display:block;
    float:none!important;
    margin:10px 0;
  }
}

/* New stuff!*/

.goal-task-p{
  margin-bottom:0;
}

.goal-task-restart{
  font-size: 12px;
  color: #cc0000;
  text-decoration: underline;
  display:none!important;
}

.goal-task-x{
  font-size: 21px;
  position: relative;
  top: 3px;
  display: none!important;
}

.goal-task-fail .goal-task-x{
  display: inline-block!important;
}

.goal-task-fail .goal-task-restart{
  display: inline-block!important;
}

.sweeper-box{
  background: #ffffff;
  margin: 20px 0;
  border: 1px solid #ccc;
  overflow:auto;
  padding:10px 5px;
}

.sweeper-box .btn-task {
  position: inherit;
  width: 135px;
}

.sweeper-box ul{
  margin:0;
}

.sweeper-box ul li{
  margin:0;
  float:left;
  list-style-type: none;
}

.business-mainbox .sweeper-box h3{
  margin:12px 16px 0 26px;
  font-size:20px;
}

.sweeper-logo{
  width: 130px;
  margin-top: 1px;
  margin-left: 10px;
  padding-right:15px;
}

.sweeper-task-check{
  font-size: 48px;
  color:#ddd;
  margin-left:5px;
}

.sweeper-complete{
  border:1px solid #00bb7b;
}

.sweeper-complete .sweeper-reverify{
  display:inline-block;
}

.sweeper-complete .sweeper-start{
  display:none;
}

.sweeper-complete .sweeper-task-check{
  color:#00bb7b;
}

.sweeper-icon{
  width:25px;
  margin:0 5px;
}

.sweeper-list-box{
  margin: 10px 0 20px 0px;
  background: #efefef;
  overflow:auto;
  border: 1px solid #e2e2e2;
  border-radius: 4px;}

.sweeper-list-box a{
  text-decoration:underline;
  color:#3885C6;
}

.sweeper-list-box a.btn{
  text-decoration:none;
  color:#fff;
}


.sweeper-list-box h3{
  margin: 0px 0 10px 0;
  padding: 7px 5px;
  font-size: 25px;
  color: #fff;
  background:#00cbff;
}

.sweeper-list-box h4{
  margin: 0px 0 5px 0;
}

.sweeper-list-box p{
  padding: 24px;
}

.sweeper-list-box ul{
  padding: 12px;
}

.sweeper-list-box .alert-success{
  border: 1px solid #27b663;
  font-size:14px;
}


.sweeper-list-box .alert-danger{
  border: 1px solid #d43f3a;
  font-size:14px;
}


.sweeper-account{
  margin:20px 0;
}


.sweeper-list-box li{
  font-size: 14px;
}

.sweeper-list-box .btn{
  margin-bottom:15px;
}

.small-text{
  font-size:11px;
}

.sweeper-buttons{
  margin:30px 0;
  overflow:auto;
}

.sweeper-buttons .btn{
  width:95%;
}

.informationIncorrect p{
  margin-bottom: 15px;
}

.informationCorrect .btn,
.informationIncorrect .btn{
  margin:15px 0;
}

.inaccuracy-form{
  margin:10px 0;
}

.btn-check-progress{
  font-size: 10px;
  margin: 1px;
}

.check-progress-date{
  font-style: italic;
  color:#999;
  font-size:12px;
  margin-top: 3px;
}

.goal-task-complete span.task-complete-text{
  text-decoration: none;
}

.goal-complete-message {
  margin: 20px 0;
}

.goal-complete-message .fa-trophy{
  color:#FCAA30;
}

/*some new responsives*/

@media (max-width: 767px) {
  .xs-block{
    clear:both;
    display:block;
    float:none!important;
    margin:10px 0;
  }
}

/* Styles Sep 22 */

/* Changes to old styles */

/* New stuff!*/

.goal-task-p{
  margin-bottom:0;
}

.goal-task-restart{
  font-size: 12px;
  color: #cc0000;
  text-decoration: underline;
}

.goal-task-x{
  font-size: 21px;
  position: relative;
  top: 3px;
  display: none!important;
}

.goal-task-restart{
  font-size: 12px;
  color: #cc0000;
  text-decoration: underline;
}

.goal-task-x{
  font-size: 21px;
  position: relative;
  top: 3px;
  display: none!important;
}

.goal-task-fail .goal-task-x{
  display: inline-block!important;
}

.goal-task-fail .goal-task-restart{
  display: inline-block!important;
}

.goal-task-details{
  color:#df56b7;
}

/* /Sept 22 Styles */

input.freemium-alerts {
  width: 350px;
  display: inline-block;
}

.alert-settings-freemium label.text-label {
  width: 200px;
}

.alert-settings-freemium label.checkbox-label {
  position: relative;
  top: 8px;
}

ul.freemium-signup-header span {
  font-weight: 600;
  background-color: $cl-primary-2;
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 60px;
  color: #fff;
  padding-top: 1px;
  text-align: center;
}

ul.freemium-signup-header li.active span {
  background-color: $cl-good;
  color: #fff;
}

ul.freemium-signup-header span.completed-step {
  padding-top: 5px;
}

.businesslauncher.freemium-no-match-icon {
  margin: 10px 10px 10px 0;
  width: 64px;
  img {
    height: auto;
    width: 100%;
  }
}

.build-boxes h3.all-tasks-complete {
  font-size: 18px;
  margin-bottom: 20px;
}

#scores-view .section-header {
  margin-top: 15px;
}

.scores-view {
  margin-bottom: 16px;
  padding: 0;
}

.section-header.analyze-header {
  margin-top: 40px;
  padding: 0;
}

.welcome-list li{
  line-height:15px;
  margin:10px 0;
  font-size: 14px;
}

.snapshot-box .box{
  min-height:405px;
}

.snapshot-box.snapshot-box-small .box{
  min-height:0;
}

.snapshot-box hr {
  margin-bottom: 10px;
}

.build_extra_padding {
  margin-top: 13px;
}

/*FROM DESIGN - DO NOT COPY AND PASTE ABOVE THIS LINE*/
/*Jesse 8-28-2014*/

.snapshot-box{
  padding-right: 7px;
  padding-left: 7px;
}

.snapshot-box  h2{
  margin:0;
  font-size:22px;
  color:#495d6d;
  border-bottom:1px solid  $cl-neutral-2;
}

.section-header{
  border-bottom:1px solid  $cl-neutral-2;
  margin-bottom:24px;
}

.section-header h2{
  padding:5px 0 0 0;
  color:#495d6d;
  font-size:30px;
  margin:0;
}

.section-header p{
  color:#71808b;
  font-size: 17px;
  margin: 3px 0;
}

.section-content{
  margin-bottom:15px;
}

.section-content h3{
  color:#71808b;
  font-size:22px;
  margin: 5px 0 0 0;
}

.section-content h4{
  color:#71808b;
  font-size:18px;
  margin:0;
}

.section-content .main-section{
  padding: 0 10px 0 0;
}

.section-content .side-section{
  padding: 0 7px 0 0;
}

.build-box{
  padding: 0;
}

.build-icon {
  margin: 0 auto;
  width: 72px;
  height: 72px;
}

.upgrade-header{
  font-size: 23px;
  margin: 0 0 15px 0;
}

.upgrade-accountinfo{
  overflow:auto;
  margin:0 0 5px 8px;
  padding:10px 0;
  border:1px solid #ddd;
}

.upgrade-accountinfo .modal-body p{
  font-size: 12px;
}

.upgrade-text{
  margin-bottom:5px;
}

.upgrade-accountinfo li{
  color:#3885c6;
  width:100px;
  height:90px;
  float:left;
  list-style-type: none;
  margin:2px;
}

.upgrade-accountinfo li h3{
  font-size: 33px;
  margin: 0px 0 4px 0;
  border-radius: 100px;
  padding: 11px 0 0 0;
  display: inline-block;
  width: 55px;
  height: 55px;
  color:#fff;
  background-color: $cl-primary-2;
  line-height: #fff;
}

.upgrade-accountinfo li p{
  font-size: 12px;
  margin-bottom: 0;
  line-height: 12px;
  color:#666;
}

.upgrade-small{
  color:#888;
  font-size:13px;
  font-style: italic;
}

.upgrade-features {
  font-size:14px;
}

.upgrade-image{
  margin:10px 0;
  border:1px solid #ccc;
}

/*Jesse - New Stuff 8-19-2014*/
.navbar-creditera .navbar-nav > li > a {
  color:#fff;
}

.navbar-creditera .navbar-nav > li:hover{
  background-color: #394b5a;
}

.navbar-creditera .navbar-nav.navbar-right > li:hover{
  background-color: #273642;
}

.modal-header{
  padding: 10px 10px 10px 15px;
}

.build-sidebar{
  margin: 0 0 10px 0;
  padding: 10px 2px 5px 2px;
  background: #fff;
  box-sizing: border-box;
  overflow:auto;
  opacity:0.65;
  cursor:pointer;
  border: 1px solid  $cl-neutral-2;
  border-radius: 4px;
  height: 105px;
}

.build-sidebar.sidebar-active {
  opacity: 1;
}

.build-sidebar:hover{
  border: 1px solid $cl-primary-2;
}

.build-sidebar h5{
  font-size:10px;
  margin:0 0 5px 0;
  font-family:  averta, helvetica, arial;
}

.build-sidebar h5.bizlaunch{
  font-size:9px;
}

.build-sidebar p{
  font-size:9px;
  margin:4px 0 0 0;
}

.business-mainbox {
  overflow:auto;
}

.business-mainbox h2{
  margin: 5px 0 10px 0;
  color:#71808b;
}

.business-mainbox h4{
  font-family:  averta, helvetica, arial;
  margin: 18px 0 10px 0;
  color:#666;
  font-size: 16px;
}

.business-mainbox .btn-close {
  font-size: 30px;
  color: #ccc;
  position: absolute;
  top: -8px;
  cursor: pointer;
  right: 14px;
}

.business-mainbox .progress{
  margin-bottom:0;
}


.launcher-task{
  padding:10px;
  margin: 5px 0;
  overflow:auto;
  min-height: 200px;
}

.launcher-task h3{
  font-size: 18px;
  margin-top: 9px;
  color: #71808b;
}

.business-launcher-complete{
  margin:20px 0;
  overflow:auto;
  padding:15px;
  font-size:16px;
  p {
    padding-bottom: 8px;
  }
}

.section-content .business-launcher-complete h3{
  margin-bottom:15px;
}

.business-launcher-complete pre{
  margin-left:0;
}

.badge-businesslauncher {
  padding:0;
}

.badge-businesslauncher img{
  margin-top:10px;
}


.badge-code-snippet{
  padding-top: 16px;
  font-size:16px;
  p {
    padding-bottom: 8px;
  }
}

.launcher-task .task-complete-icon{
  color:#ddd;
  font-size: 50px;
  margin: 4px 0 80px 10px;
}

.launcher-image{
   margin-bottom:10px;
 }

 .launcher-important ul{
   padding-left: 32px;
   padding-right: 19px;
 }

 .launcher-important li{
   line-height: 20px;
   margin-bottom: 12px;
   font-size:15px;

 }

 .launcher-important h3{
   font-size: 20px;
   margin: 0 0 10px 0;
   border-bottom: 1px solid #ccc;
 }

 .launcher-steps{
   margin: 10px 0 20px 0px;
   border: 1px solid #ccc;
   span.fa {
     color: #fff;
   }
 }

 .launcher-steps a{
   text-decoration: none;
   color:#3885C6;
 }

 .launcher-steps a.btn{
   text-decoration:none;
 }

 .launcher-steps h3{
   margin: 0 0 10px 0;
   padding: 16px;
   font-size: 25px;
   color: #fff;
   background:#00cbff;
 }

.launcher-steps ol{
  padding-left: 40px;
  padding-right: 19px;
}

.launcher-steps li{
  line-height: 20px;
  margin-bottom: 12px;
}

.launcher-steps__button {
  display: block;
  max-width: 350px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.launcher-task .btn-review {
  display: none;
}


.launcher-task.task-complete .task-complete-icon{
  color:#00bb7b;
}


.launcher-task.task-complete{
  border:1px solid #00bb7b;
}

.launcher-task.task-complete h3, .launcher-task.task-complete p{
  color:#b6bec4;
}

.launcher-task .task-complete-text{
  display:none;
}

.launcher-task.task-complete .task-complete-text{
  color:#00bb7b;
  display:block;
  font-size:27px;
  margin-bottom:0;
  font-family: averta, helvetica, arial;
}

.flat-select.sos-select{
  width: 100%;
  margin-left:0;
}


.section-header.protect-header {
  margin-top: 15px;
}

.build-boxes{
  margin-top:-10px;
  padding-right: 7px;
  padding-left: 7px;
}

.build-boxes .box{
  margin:10px 0;
  box-shadow: 0 2px 3px #ccc;
  overflow:auto;
  cursor:pointer;
}

.build-boxes:hover .box{
  box-shadow: 0 2px 5px #999;
}

.build-boxes h3{
  color: #71808b;
  font-size: 22px;
  margin: 0 0 5px 0;
}

.build-boxes h4{
  color: #71808b;
  font-size: 12px;
  margin: 0;
}

.build-boxes p{
  font-size: 12px;
  min-height: 95px
}

.build-content{
  min-height: 120px;
}



.btn-credit-sweeper{
    margin: 15px 0;
}

.business-launcher-section{
  margin-top: 12px;
  margin-left: 7px;
}

.slider-background{
  background:#09cd7d;
  height:30px;
  width:50%;
  position:absolute;
  left:0;
  padding:0;
}

.slider-list{
  position:absolute;
  z-index:999;
  list-style-type:none;
  margin:0;
  padding:0;
  width:250px;
}

.slider-list li{
  display:inline-block;
  width:49%;
  height:30px;
  padding:6px 0 0 0;
  margin:0;
  text-align:center;
  cursor:pointer;
}

.slider-list li a{
  color:#666;
}

.slider-list li a:hover{
  text-decoration: none;
}

.slider-list li.active a{
  color:#fff;
}

.slider-list li.active, .slider-list li.active a{
  cursor:default;
}

/*Jesse Score 7-31-2014*/

.container .navbar-header {
  margin-right: 0;
  margin-left: 0;
  padding-left:0;
  padding-right:0;
}

.navbar-creditera .navbar-brand img {
  width: 160px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0px;
}

.navbar-creditera .navbar-brand {
  padding: 13px 10px 0 0;
}

.navbar-creditera .navbar-nav > li.free-plan-message{
  padding:15px 0;
  color:#fff;
}

.navbar-creditera .navbar-nav > li.free-plan-message > a{
  padding:5px 10px;
  font-size:13px;
  margin-left:5px;
  color:#fff;
  display:inline;
}

.navbar-creditera .navbar-nav > li.free-plan-message > a.btn-primary:hover{
  background:#2b6ba0;
}

.navbar-creditera .navbar-nav > li.free-plan-message > a img{
  width:20px;
}

.box-small.freemium-locked{
  overflow: visible;
}

.box-small.freemium-locked .btn-go{
  display:none;
}

.box-small .btn-locked {
  position: absolute;
  right: 42px;
  bottom: -17px;
  font-size: 25px;
  color: #666;
  width: 27px;
}

.boxes-inactive .box-small .btn-locked {
  right: 25px;
  bottom: -7px;
  width: 16px;
}

.btn-locked.account-lock {
  left: -32px;
  position: relative;
}

.freemium-account-teaser {
  font-size: 13px;
  padding: 10px;
  background: #fff;
  line-height: 16px;
  margin: 5px 3px;
}

.pricing {
  width: 90%;
  margin: 30px;
}

.pricing td {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 10px;

}

.sidebar-list {
  font-size: 12px;
  padding-left: 15px;
}

.verified-text{
  font-size: 18px;
  padding: 10px 41px;
  display: inline-block;
}

.report-hr {
  margin: 8px 0;
  width: 99%;
  border-color: #ddd;
}

.card-image img {
  width: 120px;
}

.experian-business-logo {
  width: 100px;
}

.section-content h4.share-heading {
  margin-bottom: 5px;
}

.find-sos {
    margin: 10px 0;
}

.fico-box p {
  overflow: auto;
}

.fico-box.fico-deny .diagacircle {
  margin: 15px 15px 0 0;
}

.fico-box.fico-success .diagacircle {
  margin: 0 15px 0 0;
}
.fico-box.fico-may-success .diagacircle {
  margin: 0 15px 0 0;
}

.fico-box:after, .fico-box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.fico-box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 30px;
  margin-left: -30px;
}

.fico-box:before {
   border-color: rgba(204, 204, 204, 0);
   border-bottom-color: #ccc;
   border-width: 31px;
   margin-left: -31px;
}

.fico-box.fico-may-success,
.fico-box.fico-deny,
.fico-box.fico-success {
  height: 100%;
}

.fico-success .diagacircle {
  background-color: #4be48c;
  height: 65px;
  width: 65px;
  margin-right: 15px;
}

.fico-success .diagacircle:before {
  background-color: #00bb7b;
}

.fico-may-success .diagacircle:before {
  background-color: #ffcc00;
}

.fico-may-success .diagacircle {
  background-color: #fcd847;
  height: 65px;
  width: 65px;
  margin-right: 15px;
}
.fico-deny .diagacircle {
  background-color: #fcd847;
  height: 65px;
  width: 65px;
  margin-right: 15px;
}

.fico-deny .diagacircle:before {
  background-color: #ffcc00;
  /* border-radius: 160px; */
}

.fico-success .diagacircle .diagaicon {
  font-size: 57px;
  z-index: 1;
  position: absolute;
  top: 7%;
  left: 7%;
  color: #fff;
}

.fico-may-success .diagacircle .diagaicon {
  font-size: 57px;
  z-index: 1;
  position: absolute;
  top: 7%;
  left: 7%;
  color: #fff;
}


.fico-deny .diagacircle .diagaicon {
  font-size: 57px;
  z-index: 1;
  position: absolute;
  top: 3%;
  left: 17%;
  color: #fff;
}

.fico-sba-text-pdf {
  padding: 0;
}

/*--------*/
/*Add to responsive*/
/*Media Queries*/

@media all and (max-width: 1199px) and (min-width: 996px) {
  .navbar-creditera .navbar-nav > li > a {
    font-size: 15px;
    padding: 15px 8px;
  }

  .build-box{
    padding: 5px;
  }
}

@media (max-width: 767px) {


  .build-box{
    padding: 5px;
  }

  .modal-dialog.modal-lg{
    z-index: 1050;
    width: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
  .build-boxes .box {
    height: 200px;
  }

  .launcher-task {
    min-height: 220px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .launcher-task {
    min-height: 250px;
  }
}

@media screen and (max-width: 991px){
    .build-boxes .box {
        height: 260px;
    }


    .progress-bar-good{
        border-right:0;
    }
}

@media screen and (max-width: 567px){
    .launcher-task {
        min-height: 270px;
    }

    .launcher-task.task-complete .task-complete-text {
        display: none;
    }
}

.get-app {
    display: block;
    position: relative;
    min-height: 75vh;
}
.get-app-pic {
    width: 100%;
}
.get-app-pic img {
    width: 70%;
}
.get-app-links {
    width: 44%;
    padding-top: 20px;
    padding-top: 8%;
    position: absolute;
    right: 0;
}
.get-app-appstore {
    margin: 10px 0;
    padding: 0 10px;
}
.get-app-appstore i {
    margin: 0 auto;
    width: 90%;
    max-width: 200px;
}
.get-app-store-link {
    background-color: #1570d7;
    text-align: center;
    padding: 10px 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    opacity: 0.8;
}
.get-app-store-link a {
    color: #fff;
    text-decoration: none;
}
.get-app-store-link a:hover {
    color: #fff;
    text-decoration: underline;
}
.get-app-store-link span {
    font-size: 20px;
    padding: 10px 5px 10px 4px;
}
.get-app-continue {
    text-align: right;
    padding-right: 10px;
}
.get-app-continue a {
    color: #000;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
}
.font-center {
    text-align: center;
}
.font-xxl {
    font-size: 2.5883rem;
    font-size: calc( 2.353rem + 2vw);
    margin: auto 0;
}
.font-xl {
    font-size: 1.9459rem;
    font-size: calc( 1.769rem + 1vw);
    margin: auto 0;
}
.font-bold,
strong {
    font-family: averta, helvetica, arial;
}
.i-applestore,
.i-googleplay {
    display: block;
    height: 100%;
    width: 100%;
}
.i-applestore {
    content: url(#{$cdn-path}/images/apple-store.png) no-repeat top left;
    height: auto !important;
}
.i-googleplay {
    content: url(#{$cdn-path}/images/play-store.png) no-repeat top left;
    height: auto !important;
}

.app-redirect-modal {
  z-index: 3000;
}

.app-redirect-modal-content {
  margin-top: 0;
  overflow: auto;
  -webkit-overflow-scrolling: none;
}
.modal-advice {
    padding: 20px;
}

.form-item-input {
    display: inline-block;
    width: 74%;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.form-item-input input {
    height: 35px;
    margin: 0;
}
.form-item-input select {
    height: 50px;
    margin: 0;
}
.form-item-input {
    display: inline-block;
    width: 74%;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.form-item-input input {
    height: 35px;
    margin: 0;
}
.form-item-input select {
    height: 50px;
    margin: 0;
}

.form-item-input-half {
    width: 36.7%;
}

.call-agent-button {
    padding: 15px 0;
}

.no-pad {
    padding: 0 !important;
}



.well-info {
    min-height: 32px;
    padding: 24px;
    margin: 16px;
    background-color: transparent;
    border: 1px solid #00CBFF;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.list-unstyled{
  list-style-type: none;
}

p.text-danger{
  color: #ED193F;
}

.font-bold{
  font-weight: 600;
}

.launcher-steps h4{
  font-size: 20px;
}

.btn-primary {
    background: #00cbff;
    border-color: #00cbff;
}

.btn-secondary {
  color: #0091EA;
    background: transparent;
    border-color: #00cbff;
}

.launcher-steps a.btn.btn-secondary{
    color: #0091EA;
}

.card-mini-feature--card-title{
  display: inline-block;
  font-size: 14px;
  line-height: 1.3;
  color: #999;
  margin-bottom: 16px;
}

.card-mini-feature--card-image{
  margin-bottom: 8px;
}

.card-mini-feature{
 margin-bottom: 32px;
}

.card-mini-feature--headline{
  display: inline-block;
  margin-bottom: 16px;

}

.card-mini-feature--list-head{
  display: block;
  color: #888;
  margin-top: 16px

}

.launcher--content-section{
  margin: 32px 0 0 0;
}





.business-mainbox h4 {
    font-family: averta, helvetica, arial;
    margin: 18px 0 10px 0;
    color: #666;
    font-size: 16px;
    line-height: 1.3;
}

.launcher-task {
    border-radius: 2px;
}

.section-header h2 {
    padding: 5px 0 0 0;
    color: #495d6d;
    font-size: 30px;
    margin: 0 0 8px 0;
}

.launcher-task h3 {
    margin: 8px 0;

}

.business-mainbox .btn-close {
    top: 0;
    right: 24px;
}


.navbar {
    border-radius: 0;
}

.section-content-mainbox {
    margin: 0 0 10px 0;
    padding: 16px 24px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    border: 1px solid #E2E4E9;
    border-top: 0;
    margin-top: -1px;
}

.uppercase{
  text-transform: uppercase;
}
