// TODO: OLD Style, Kill them eventually please.
// scss-lint:disable all

label {
  font-weight: normal;
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: none !important;
    color: $cl-hyperlink;
  }
}

.btn.btn-primary {
  padding: 10px 20px;
  border: 0;
  border-radius: 2px;
  background-color: #e2e2e2;
  color: #494949;
  text-align: center;
  background-color: #00cbff;
  color: #fff;
  &:hover {
    background-color: darken($cl-primary-2, 10%);
  }
}

.modal-header {
  background-color: $cl-primary-3;
}

.section-header{
  margin-top: 40px;
  border-bottom:1px solid  $cl-neutral-2;
  margin-bottom:24px;
  h2{
    font-size:24px;
  }
}

.section-subheader {
  border-bottom:1px solid $cl-neutral-2;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.popover {
  background-color: $cl-primary-3;
  border-color: $cl-primary-3;
  border-radius: 2px;

  .popover-title {
    color: $cl-primary-2;
  }

  &.right .arrow:after{
    border-right-color: $cl-primary-3;
  }

  &.left .arrow:after{
    border-left-color: $cl-primary-3;
  }

  &.top .arrow:after{
    border-top-color: $cl-primary-3;
  }

  &.bottom .arrow:after{
    border-bottom-color: $cl-primary-3;
  }
}


.tooltip-inner {
  background-color: #fff;
  color: $cl-neutral-5;
  border: 1px solid $cl-neutral-3;
  box-shadow: 0px 2px 3px $cl-neutral-2;
  border-radius: 2px;
}


.tooltip.top .tooltip-arrow {
  border-top-color: $cl-neutral-3;
}

.tooltip.top-left .tooltip-arrow {
  border-top-color: $cl-neutral-3;
}

.tooltip.top-right .tooltip-arrow {
  border-top-color: $cl-neutral-3;
}

.tooltip.right .tooltip-arrow {
  border-right-color: $cl-neutral-3;
}

.tooltip.left .tooltip-arrow {
  border-left-color: $cl-neutral-3;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: $cl-neutral-3;
}

.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: $cl-neutral-3;
}

.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: $cl-neutral-3;
}

.chat-tab {
  background-color: $cl-secondary-2;
  border-radius: 4px 4px 0 0;
  span {
    color: #fff;
  }
}


.alert-success,
.alert.alert-success {
  color: $cl-good;
  background-color: #fff;
  border: 1px solid $cl-good;
}

.alert-danger,
.alert.alert-danger {
  color: $cl-poor;
  background-color: #fff;
  border: 1px solid $cl-poor;
}

.alert-warning,
.alert.alert-warning {
  color: darken($cl-fair, 5%);
  background-color: #fff;
  border: 1px solid $cl-warning;
}

.payment-form-box {
  background: white;
  border: 1px solid  $cl-neutral-2;
  border-radius: 4px;
}

.navbar-default .navbar-nav .free-plan-message .btn-primary {
  margin-top: 5px;
  color: white;
  font-weight: 600;

  &:active,
  &:hover {
    background-color: darken($cl-primary-2, 20%);
  }
}

.upgrade-image {
  margin: 10px 13px;
}

.upgrade-accountinfo {
  border-radius: 4px;
}

.footer-nav a {
  color: $cl-neutral-6;
}

.footer-nav li {
  border-color: $cl-neutral-6;
  color: $cl-neutral-6;
}

.build-sidebar.sidebar-active {
  border: 1px solid $cl-primary-2;
}

.build-sidebar img {
  width: 72px;
  margin: 4px;
}

.build-sidebar {
  height: auto;
  margin-bottom: 8px;
}



.font-xs {
  font-size: 10px;
}


//Fixes where an old class causes btn text no to wrap
.btn--wrap-fix {
  white-space: normal !important;
}


#main-area {
  //these are not needed but are put here incase they keep getting overriden by other manifests.
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}


//TEMP until new framework is down
.mar-lr-smart {
  margin-left: 10px;
  margin-right: 10px;
  margin-left: calc(4px + (16 - 4) * ( (100vw - 400px) / ( 1100 - 400) ));
  margin-right: calc(4px + (16 - 4) * ( (100vw - 400px) / ( 1100 - 400) ));
}
.pad-lr-smart {
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-left: calc(8px + (24 - 8) * ( (100vw - 400px) / ( 1100 - 400) )) !important;
  padding-right: calc(8px + (24 - 8) * ( (100vw - 400px) / ( 1100 - 400) )) !important;
}


@media (min-width: 1100px) {
  .pad-lr-smart {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .mar-lr-smart {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 400px) {
  .mar-lr-smart {
    margin-left: 4px;
    margin-right: 4px;
  }
  .pad-lr-smart {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}


.img--fix {
  width: 100%;
  height: auto;
}


.modal-fix {
  max-width: 95vw;
}

.delighted-buttons li {
  margin: 3px;
}

.delighted-labels {
  width: 100%;
  padding-bottom: 24px;
}

.delighted-comment {
  max-width: 100%;
}


.i-font-user-size {
  font-size: 22px;
  background-color: rgba(0,0,0,0);
}

input:invalid {
  box-shadow: none;
}

input:-moz-submit-invalid {
  box-shadow: none;
}

input:-moz-ui-invalid {
  box-shadow:none;
}
select:invalid {
  box-shadow: none;
}

select:-moz-submit-invalid {
  box-shadow: none;
}

select:-moz-ui-invalid {
  box-shadow:none;
}

.font-charcoal {
  color: $cl-neutral-6
}

div.modal--large {
  width: 800px;
  margin-bottom: 100px;
  @media (max-width: 850px) {
    width: auto;
    margin: 30px;
  }
}


.unsupported-browser {
  h4 {
    display: block;
    text-align: center;
    font-size: 24px;
    color: #fff;
  }
  p {
    font-size: 15px;
  }
  a {
    text-decoration: none;
    font-style: italic;
    &:hover {
      color: #fff;
      text-decoration: underline!important;
    }
  }
}

.card {
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  background-color: #fff;
}

.modal--small {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  max-width: 96vw;
  @media screen and (max-width: $screen-small) {
    margin-top: 52px;
  }
}

.modal--md {
  margin-top: 100px;
  @media screen and (max-width: $screen-medium) {
    margin-top: 52px;
  }
}

.font-sm {
  font-size: 14px;
}

.-header-white {
  color: #FFF;
}


._close-btn {
  position: absolute;
  display: block;
  top: 16px;
  right: 20px;
  height: 34px;
  width: 34px;
  background-color: $cl-neutral-2;
  border-radius: 50%;
  text-align: center;
  line-height: .95;
  font-size: 30px;
  font-weight: 600;
  color: $cl-neutral-3;
  cursor: pointer;
  transition: background-color .2s, color .2s;

  &:hover {
   color: lighten($cl-neutral-3, 2%);
   background-color: scale-color($cl-neutral-2, $lightness: 10%);
  }

  &:active {
   color: darken($cl-neutral-3, 15%);
   background-color: scale-color($cl-neutral-2, $lightness: -5%);
  }

  &.-dark {
    background-color: rgba(0, 0, 0, 0);
  }
 }


body.-no-scroll {
  overflow: hidden!important;
}


._premium-mark {
  padding-left: 8px;
  img {
    height: 20px;
    width: 20px;
  }
  span {
    padding-left: 8px;
    padding-right: 8px;
    color: $cl-secondary-2;
    font-size: 12px;
  }
}
