// TODO: OLD Style, Kill them eventually please.
// scss-lint:disable all


a {
	&.-on-blue{
		color: #fff;
	}
	&:hover.set--hover {
		text-decoration: underline;
	}
	// &[target=_blank]::after{
	// 		content: '\ed8c';
	// 		color: $cl-neutral-4;
	// 		padding-left: 2px;
	// 		position: relative;
	// 		@include link-icons;
	// }
	// &[href$='.pdf']::after{
	// 		content: '(pdf)';
	// 		color: $cl-neutral-4;
	// 		padding-left: 3px;
	// 		line-height: 1;
	// 		font-size: smaller;
	// 		font-weight: 400;
	// }
	// &.email[href^='mailto:']::after{
	// 	content: '\ea70';
	// 	color: $cl-neutral-4;
	// 	padding-left: 4px;
	// 	@include link-icons;
	// }
	// &.chat[href^='mailto:']::after{
	// 	content: '\ec97';
	// 	color: $cl-neutral-4;
	// 	padding-left: 4px;
	// 	@include link-icons;
	// }
	// &.call[href^='tel:']::after{
	// 	content: '\ed27';
	// 	color: $cl-neutral-4;
	// 	padding-left: 2px;
	// 	@include link-icons;
	// }
}


hr {
	&.-thick{
		border-width: 2px;
	}
	&.-blue{
		border-color: $cl-primary-2;
	}
	&.-charcoal{
		border-color: $cl-neutral-6;
	}
	&.-half{
		-ms-flex-preferred-size: 50%!important;
		    flex-basis: 50%!important;
		margin-left: auto;
		margin-right: auto;
	}
}


/* ==========================================================================
    HELPER CLASSES
   ==========================================================================

File Contents:
	-General
	-Overflow
	-Borders
	-Colors
		-Color
		-Background Color

*/



/* ==========================================================================
    $GENERAL
   ========================================================================== */


.no-max-width, [data-flex--item~='no-max-width'] {
	max-width: none!important;
}


/* ==========================================================================
    $OVERFLOW
   ========================================================================== */

.overflow--hide {
	overflow: hidden;
}

.overflow--y-scroll {
	overflow-y: scroll;;
}

.overflow--auto {
	overflow: auto;;
}



/* ==========================================================================
    $BORDERS
   ========================================================================== */

//Set one of these classes on the parent to give all of its direct children borders on all sides without doubling up the borders when they wrap.

//Use this one first but if it doesn't work use all-2
.border--all {
	border: 0;
	& > * {
		box-shadow: 0 0 0 1px $cl-border;
		background-color: #fff;
	}
}

.border--all-2 {
	border-bottom: 1px solid $cl-border;
	border-right: 1px solid $cl-border;
	border-top: 0;
	border-left: 0;
	& > * {
		border-top: 1px solid $cl-border;
		border-left: 1px solid $cl-border;
		border-bottom: 0;
		border-right: 0;
	}
}


.border {
	border-radius: px;
  border: 1px solid $cl-neutral-3;
	overflow: hidden;
}


//Use these to set the border radius

.border-radius--0 {
  border-radius: 0;
}
.border-radius--2 {
  border-radius: 2px;
}
.border-radius--4 {
  border-radius: 4px;
}
.border-radius--top-0 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.border-radius--top-2 {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.border-radius--top-4 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.border-radius--bottom-0 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.border-radius--bottom-2 {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.border-radius--bottom-4 {
  border-bottom-left-radius: 4;
  border-bottom-right-radius: 4;
}

.border-t--none {
	border-top: 0;
}
.border-b--none {
	border-bottom: 0;
}


//Use these to set the border color.

.border--gray {
  border: 1px solid $cl-neutral-3;
}

.border--blue {
  border: 1px solid $cl-primary-2;
}

.border--hover:hover {
  border: 1px solid $cl-primary-2;
}



/* ==========================================================================
    $FONT WEIGHT AND STYLE
   ========================================================================== */

/*  Weight
  -------------------------------------------------------------------------- */

.font--thin {
	font-weight: 100;
}

.font--light {
	font-weight: 200;
}

.font--normal {
	font-weight: 400;
}

.font--bold, strong {
	font-weight: 600;
}

.font--extra-bold {
	font-weight: 800;
}


/*  Style
   -------------------------------------------------------------------------- */

.font--italic, em {
	font-style: italic;
}

.font--capitalize {
	text-transform: capitalize;
}

.font--uppercase {
	text-transform: uppercase;
}

.font--lowercase {
	text-transform: lowercase;
}

.font--strike {
	text-decoration: line-through;
}

.font--underline {
	text-decoration: underline;
}


/* ==========================================================================
    $FONT SIZE
   ========================================================================== */


/*  Sizing Classes
   -------------------------------------------------------------------------- */

.font--xxl {
	font-size: 38px;
}

.font--xl {
	font-size: 30px;
}

.font--lg {
	font-size: 20px;
}

.font--md {
	font-size: 16px;
}

.font--sm {
	font-size: 13px;
}

.font--xs {
	font-size: 10px;
}




/* ==========================================================================
    $FONT ALIGNMENT
   ========================================================================== */


.font--right {
	text-align: right;
}

.font--left {
	text-align: left;
}

.font--center {
	text-align: center;
}



/* ==========================================================================
    $FONT COLOR
   ========================================================================== */


.font--white {
	color: #ffffff;
}

.font--lighter {
	opacity: .8;
}

.font--gray {
	color: $cl-neutral-5;
}

.font--light-gray {
	color: $cl-neutral-4;
}

.font--black {
	color: #000000;
}

.font--blue {
	color: $cl-primary-2;
}

.font--green, .is-success {
	color: $cl-success;
}

.font--red, .is-error {
	color: $cl-error;
}



/* ==========================================================================
    $ADDITIONAL HELPER CLASSES
   ========================================================================== */



/* ==========================================================================
    BUTTONS
   ==========================================================================

File Contents:
	-Base Style
	-Style Variants

*/


/* ==========================================================================
    $BASE STYLES
   ========================================================================== */

/* NOTE: Please notice that these are nested under .btn so be careful when editing. */

.btn {
	cursor: pointer;
	outline: 0px solid rgba(0, 0, 0, 0);
	transition: box-shadow .05s ease, background-color .2s, color .2s, border-color .2s ;
  border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 2px;
	&:hover {
		outline: 0px solid rgba(0, 0, 0, 0);
	}
	&:active {
	}
	&:focus {
		outline: 0;
		outline: 1px dotted $cl-neutral-3;
		outline-offset: 0px;
		// box-shadow: 0px 0px 2px 0px $cl-neutral-6;
	}
	&[disabled]{
		cursor: not-allowed;
		&:hover {
			text-decoration: none;
		}
		&:focus {
			outline: 0;
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		}
	}


	//Maybe add this for firefox:
	// button::-moz-focus-inner,
	// input[type='reset']::-moz-focus-inner,
	// input[type='button']::-moz-focus-inner,
	// input[type='submit']::-moz-focus-inner {
	// border: none;
	// padding:0;
	// }

/* ==========================================================================
    $VARIANTS
   ========================================================================== */


   &.-full-on-mobile {
     @include if-screen-smaller-than(sm){
       flex-basis: 100%;
       margin-right: 0;
       margin-bottom: 16px;
     }
   }

   &.-allow-text-to-wrap {
     display: block;
     white-space: normal;
     text-align: center;
   }

	 /*----| Sizes |----*/
	&.-sm {
		@include padding(4px,y);
		@include padding(8px,x);
	}
	&.-md {
		@include padding(8px,y);
		@include padding(32px,x);
	}
	&.-lg {
		@include padding(16px,y);
		@include padding(48px,x);
	}
	&.-xl {
		@include padding(32px,y);
		@include padding(64px,x);
	}
	 /*----| Square |----*/
	&.-square {
		border-radius: 0;
	}
	/*----| Primary 1 |----*/
	&.-primary, &.-primary-1 {
		background-color: $cl-primary-2;
		color: #fff;
		&:hover {
			background-color: lighten($cl-primary-2, 10%);
		}
		&:active {
			background-color: darken($cl-primary-2, 6%);
		}
		&[disabled]{
			background-color: scale-color($cl-primary-2, $saturation: -85%,  $lightness: 40%);
		}
		/*----| Primary 1 Outline |----*/
		&.-outline {
			background-color: rgba(255, 255, 255, .1);
			color: $cl-primary-2;
      border: 1px solid $cl-secondary-2;
			&:hover {
				color: lighten($cl-primary-2, 15%);
				border-color: lighten($cl-primary-2, 15%);
				background-color: scale-color($cl-primary-2, $lightness: 60%, $alpha: -75%);
			}
			&:active {
				color: darken($cl-primary-2, 14%);
				border-color: darken($cl-primary-2, 6%);
				background-color: scale-color($cl-primary-2, $lightness: -5%, $alpha: -50%);
			}
			&[disabled]{
				color: scale-color($cl-primary-2, $saturation: -85%,  $lightness: 40%);
				border-color: scale-color($cl-primary-2, $saturation: -85%,  $lightness: 40%);
				background-color: rgba(0, 0, 0, 0);
			}
		}
	}
	/*----| Primary 2 |----*/
	&.-primary-2 {
		background-color: #fff;
		color: $cl-neutral-6;
		&:hover {
			background-color: darken(#fff, 5%);
		}
		&:active {
			background-color: darken(#fff, 10%);
		}
		&[disabled]{
			background-color: darken(#fff, 5%);;
		}
		/*----| Primary 2 Outline |----*/
		&.-outline {
			background-color: rgba(255, 255, 255, .1);
			color: #fff;
      border: 1px solid $cl-white;
			&:hover {
				color: darken(#fff, 5%);
				border-color: darken(#fff, 5%);
				background-color: scale-color(#fff, $alpha: -75%);
			}
			&:active {
				color: darken(#fff, 10%);
				border-color: darken(#fff, 15%);
				background-color: scale-color(#fff, $lightness: -5%, $alpha: -50%);
			}
			&[disabled]{
				color: darken(#fff, 5%);
				border-color: darken(#fff, 5%);
				background-color: rgba(0, 0, 0, 0);
			}
		}
	}
	/*----| Primary 3 |----*/
	&.-primary-3 {
		background-color: $cl-primary-3;
		color: #fff;
		&:hover {
			background-color: lighten($cl-primary-3, 10%);
		}
		&:active {
			background-color: darken($cl-primary-3, 6%);
		}
		&[disabled]{
			background-color: scale-color($cl-primary-3, $saturation: -85%,  $lightness: 40%);
		}
		/*----| Primary 3 Outline |----*/
		&.-outline {
			background-color: rgba(255, 255, 255, .1);
			color: $cl-primary-3;
      border: 1px solid $cl-primary-3;
			&:hover {
				color: lighten($cl-primary-3, 15%);
				border-color: lighten($cl-primary-3, 15%);
				background-color: scale-color($cl-primary-3, $lightness: 60%, $alpha: -75%);
			}
			&:active {
				color: darken($cl-primary-3, 14%);
				border-color: darken($cl-primary-3, 6%);
				background-color: scale-color($cl-primary-3, $lightness: -5%, $alpha: -50%);
			}
			&[disabled]{
				color: scale-color($cl-primary-3, $saturation: -85%,  $lightness: 40%);
				border-color: scale-color($cl-primary-3, $saturation: -85%,  $lightness: 40%);
				background-color: rgba(0, 0, 0, 0);
			}
		}
	}
	/*----| Primary 4 |----*/
	&.-primary-4 {
		background-color: $cl-secondary-2;
		color: #fff;
		&:hover {
			background-color: lighten($cl-secondary-2, 10%);
		}
		&:active {
			background-color: darken($cl-secondary-2, 6%);
		}
		&[disabled]{
			background-color: scale-color($cl-secondary-2, $saturation: -85%,  $lightness: 40%);
		}
		/*----| Primary 4 Outline |----*/
		&.-outline {
			background-color: rgba(255, 255, 255, .1);
			color: $cl-secondary-2;
      border: 1px solid $cl-secondary-2;
			&:hover {
				color: lighten($cl-secondary-2, 15%);
				border-color: lighten($cl-secondary-2, 15%);
				background-color: scale-color($cl-secondary-2, $lightness: 60%, $alpha: -75%);
			}
			&:active {
				color: darken($cl-secondary-2, 14%);
				border-color: darken($cl-secondary-2, 6%);
				background-color: scale-color($cl-secondary-2, $lightness: -5%, $alpha: -50%);
			}
			&[disabled]{
				color: scale-color($cl-secondary-2, $saturation: -85%,  $lightness: 40%);
				border-color: scale-color($cl-secondary-2, $saturation: -85%,  $lightness: 40%);
				background-color: rgba(0, 0, 0, 0);
			}
		}
	}
	/*----| Secondary 1 |----*/
	&.-secondary, &.-secondary-1 {
		background-color: $cl-accent-1;
		color: #fff;
		&:hover {
			background-color: lighten($cl-accent-1, 10%);
		}
		&:active {
			background-color: darken($cl-accent-1, 6%);
		}
		&[disabled]{
			background-color: scale-color($cl-accent-1, $saturation: -85%,  $lightness: 40%);
		}
		/*----| Secondary 1 Outline |----*/
		&.-outline {
			background-color: rgba(255, 255, 255, .1);
			color: $cl-accent-1;
      border: 1px solid $cl-accent-1;
			&:hover {
				color: lighten($cl-accent-1, 15%);
				border-color: lighten($cl-accent-1, 15%);
				background-color: scale-color($cl-accent-1, $lightness: 60%, $alpha: -75%);
			}
			&:active {
				color: darken($cl-accent-1, 15%);
				border-color: darken($cl-accent-1, 6%);
				background-color: scale-color($cl-accent-1, $lightness: 5%, $alpha: -50%);
			}
			&[disabled]{
				color: scale-color($cl-accent-1, $saturation: -85%,  $lightness: 40%);
				border-color: scale-color($cl-accent-1, $saturation: -65%,  $lightness: 30%);
				background-color: rgba(0, 0, 0, 0);
			}
		}
	}
	/*----| Secondary 2|----*/
	&.-secondary-2 {
		background-color: $cl-accent-3;
		color: #fff;
		&:hover {
			background-color: lighten($cl-accent-3, 10%);
		}
		&:active {
			background-color: darken($cl-accent-3, 6%);
		}
		&[disabled]{
			background-color: scale-color($cl-accent-3, $saturation: -85%,  $lightness: 40%);
		}
		/*----| Secondary 2 Outline |----*/
		&.-outline {
			background-color: rgba(255, 255, 255, .1);
			color: $cl-accent-3;
      border: 1px solid $cl-accent-3;
			&:hover {
				color: lighten($cl-accent-3, 15%);
				border-color: lighten($cl-accent-3, 15%);
				background-color: scale-color($cl-accent-3, $lightness: 60%, $alpha: -75%);
			}
			&:active {
				color: darken($cl-accent-3, 15%);
				border-color: darken($cl-accent-3, 6%);
				background-color: scale-color($cl-accent-3, $lightness: 5%, $alpha: -50%);
			}
			&[disabled]{
				color: scale-color($cl-accent-3, $saturation: -85%,  $lightness: 40%);
				border-color: scale-color($cl-accent-3, $saturation: -65%,  $lightness: 30%);
				background-color: rgba(0, 0, 0, 0);
			}
		}
	}
	/*----| Secondary 3 |----*/
	&.-secondary-3 {
		background-color: $cl-accent-5;
		color: #fff;
		&:hover {
			background-color: lighten($cl-accent-5, 10%);
		}
		&:active {
			background-color: darken($cl-accent-5, 6%);
		}
		&[disabled]{
			background-color: scale-color($cl-accent-5, $saturation: -85%,  $lightness: 40%);
		}
		/*----| Secondary 3 Outline |----*/
		&.-outline {
			background-color: rgba(255, 255, 255, .1);
			color: $cl-accent-5;
      border: 1px solid $cl-accent-5;
			&:hover {
				color: lighten($cl-accent-5, 15%);
				border-color: lighten($cl-accent-5, 15%);
				background-color: scale-color($cl-accent-5, $lightness: 60%, $alpha: -75%);
			}
			&:active {
				color: darken($cl-accent-5, 15%);
				border-color: darken($cl-accent-5, 6%);
				background-color: scale-color($cl-accent-5, $lightness: 5%, $alpha: -50%);
			}
			&[disabled]{
				color: scale-color($cl-accent-5, $saturation: -85%,  $lightness: 40%);
				border-color: scale-color($cl-accent-5, $saturation: -65%,  $lightness: 30%);
				background-color: rgba(0, 0, 0, 0);
			}
		}
	}
	/*----| Secondary 4 |----*/
	&.-secondary-4 {
		background-color: $cl-accent-6;
		color: #fff;
		&:hover {
			background-color: lighten($cl-accent-6, 10%);
		}
		&:active {
			background-color: darken($cl-accent-6, 6%);
		}
		&[disabled]{
			background-color: scale-color($cl-accent-6, $saturation: -85%,  $lightness: 40%);
		}
		/*----| Secondary 4 Outline |----*/
		&.-outline {
			background-color: rgba(255, 255, 255, .1);
			color: $cl-accent-6;
      border: 1px solid $cl-accent-6;
			&:hover {
				color: lighten($cl-accent-6, 15%);
				border-color: lighten($cl-accent-6, 15%);
				background-color: scale-color($cl-accent-6, $lightness: 60%, $alpha: -75%);
			}
			&:active {
				color: darken($cl-accent-6, 15%);
				border-color: darken($cl-accent-6, 6%);
				background-color: scale-color($cl-accent-6, $lightness: 5%, $alpha: -50%);
			}
			&[disabled]{
				color: scale-color($cl-accent-6, $saturation: -85%,  $lightness: 40%);
				border-color: scale-color($cl-accent-6, $saturation: -65%,  $lightness: 30%);
				background-color: rgba(0, 0, 0, 0);
			}
		}
	}
	/*----| Secondary 5 |----*/
	&.-secondary-5 {
		background-color: $cl-neutral-4;
		color: #fff;
		&:hover {
			background-color: lighten($cl-neutral-4, 10%);
		}
		&:active {
			background-color: darken($cl-neutral-4, 6%);
		}
		&[disabled]{
			background-color: scale-color($cl-neutral-4, $saturation: -85%,  $lightness: 40%);
		}
		/*----| Secondary 5 Outline |----*/
		&.-outline {
			background-color: rgba(255, 255, 255, .1);
			color: $cl-neutral-4;
      border: 1px solid $cl-neutral-4;
			&:hover {
				color: lighten($cl-neutral-4, 15%);
				border-color: lighten($cl-neutral-4, 15%);
				background-color: scale-color($cl-neutral-4, $lightness: 60%, $alpha: -75%);
			}
			&:active {
				color: darken($cl-neutral-4, 15%);
				border-color: darken($cl-neutral-4, 6%);
				background-color: scale-color($cl-neutral-4, $lightness: 5%, $alpha: -50%);
			}
			&[disabled]{
				color: scale-color($cl-neutral-4, $saturation: -85%,  $lightness: 40%);
				border-color: scale-color($cl-neutral-4, $saturation: -65%,  $lightness: 30%);
				background-color: rgba(0, 0, 0, 0);
			}
		}
	}
	/*----| Secondary 6 |----*/
	&.-secondary-6 {
		background-color: $cl-neutral-3;
		color: #fff;
		&:hover {
			background-color: lighten($cl-neutral-3, 5%);
		}
		&:active {
			background-color: darken($cl-neutral-3, 6%);
		}
		&[disabled]{
			background-color: scale-color($cl-neutral-3, $saturation: -85%,  $lightness: 40%);
		}
		/*----| Secondary 6 Outline |----*/
		&.-outline {
			background-color: rgba(255, 255, 255, .1);
			color: $cl-neutral-5;
      border: 1px solid $cl-neutral-3;
			&:hover {
				color: lighten($cl-neutral-5, 15%);
				border-color: lighten($cl-neutral-3, 15%);
				background-color: scale-color($cl-neutral-3, $lightness: 60%, $alpha: -75%);
			}
			&:active {
				color: darken($cl-neutral-3, 15%);
				border-color: darken($cl-neutral-3, 6%);
				background-color: scale-color($cl-neutral-3, $lightness: 5%, $alpha: -50%);
			}
			&[disabled]{
				color: scale-color($cl-neutral-3, $saturation: -85%,  $lightness: 40%);
				border-color: scale-color($cl-neutral-3, $saturation: -65%,  $lightness: 30%);
				background-color: rgba(0, 0, 0, 0);
			}
		}
	}
	/*----| Secondary 7 |----*/
	&.-secondary-7 {
		background-color: $cl-neutral-2;
		color: $cl-neutral-5;
		&:hover {
			background-color: lighten($cl-neutral-2, 5%);
		}
		&:active {
			background-color: darken($cl-neutral-2, 6%);
		}
		&[disabled]{
			background-color: scale-color($cl-neutral-2, $saturation: -85%,  $lightness: 40%);
		}
		/*----| Secondary 7 Outline |----*/
		&.-outline {
			background-color: rgba(255, 255, 255, .1);
			color: $cl-neutral-5;
      border: 1px solid $cl-neutral-2;
			&:hover {
				color: lighten($cl-neutral-5, 15%);
				border-color: lighten($cl-neutral-2, 2%);
				background-color: scale-color($cl-neutral-2, $lightness: 60%, $alpha: -75%);
			}
			&:active {
				color: darken($cl-neutral-2, 15%);
				border-color: darken($cl-neutral-2, 6%);
				background-color: scale-color($cl-neutral-2, $lightness: 5%, $alpha: -50%);
			}
			&[disabled]{
				color: scale-color($cl-neutral-2, $saturation: -85%,  $lightness: 40%);
				border-color: scale-color($cl-neutral-2, $saturation: -65%,  $lightness: 30%);
				background-color: rgba(0, 0, 0, 0);
			}
		}
	}
	/*----| Secondary 8 |----*/
	&.-secondary-8 {
		background-color: $cl-neutral-1;
		color: $cl-secondary-2;
		border-color: $cl-neutral-1;
		&:hover {
			background-color: lighten($cl-neutral-1, 1%);
		}
		&:active {
			background-color: darken($cl-neutral-1, 3%);
		}
		&:focus {
			outline: 0
		}
		&[disabled]{
			color: $cl-neutral-4;
			background-color: scale-color($cl-neutral-1, $saturation: -85%,  $lightness: 40%);
		}
		/*----| Secondary 8 Outline |----*/
		&.-outline {
			background-color: rgba(255, 255, 255, .1);
			color: $cl-neutral-5;
      border: 1px solid $cl-neutral-1;
			&:hover {
				color: lighten($cl-neutral-5, 15%);
				border-color: darken($cl-neutral-1, 2%);
				background-color: scale-color($cl-neutral-1, $lightness: 30%, $alpha: -75%);
			}
			&:active {
				color: darken($cl-neutral-1, 15%);
				border-color: darken($cl-neutral-1, 6%);
				background-color: scale-color($cl-neutral-1, $lightness: 5%, $alpha: -50%);
			}
			&[disabled]{
				color: scale-color($cl-neutral-1, $saturation: -85%,  $lightness: 40%);
				border-color: scale-color($cl-neutral-1, $saturation: -65%,  $lightness: 30%);
				background-color: rgba(0, 0, 0, 0);
			}
		}
	}
	/*----| Secondary 9 |----*/
	&.-secondary-9 {
		background-color: #fff;
		color: $cl-neutral-6;
		border-color: $cl-neutral-6;
		&:hover {
			background-color: darken(#fff, 2%);
		}
		&:active {
			background-color: darken(#fff, 5%);
		}
		&:focus {
			outline: 0
		}
		&[disabled]{
			color: $cl-neutral-3;
			background-color: scale-color($cl-neutral-1, $saturation: -85%,  $lightness: 40%);
		}
		/*----| Secondary 9 Outline |----*/
		&.-outline {
			background-color: rgba(255, 255, 255, 0);
			color: $cl-neutral-6;
      border: 1px solid $cl-neutral-6;
			&:hover {
				color: darken($cl-neutral-6, 15%);
				border-color: darken($cl-neutral-6, 2%);
			}
			&:active {
				color: darken($cl-neutral-6, 15%);
				border-color: darken($cl-neutral-6, 6%);
				background-color: rgba(0,0,0,.1);
			}
			&[disabled]{
				color: $cl-neutral-3;
			}
		}
	}
}





//TODO: safely convert everything that uses the old styles to use the new styles then kill the btn old styles
//OLD STYLES BELOW HERE, YE HAVE BEN WARNED,
.btn--old {
	border: 0;
	border-radius: 2px;
	background-color: $cl-neutral-3;
	color: $cl-neutral-6;
	text-align: center;
	cursor: pointer;
	&:active {
		outline: 0;
		transition: box-shadow .05s;
	}
	&:focus {
		outline: 0;
	}
}
.btn--blue {
	background-color: $cl-primary-2;
	color: #fff;
	* {
		color: #fff;
	}
	&:hover {
		text-decoration: underline;
	}
}

.btn--orange {
	background-color: #fff;
	color: $cl-accent-3;
	* {
		color: $cl-accent-3;
	}
	&:hover {
		text-decoration: underline;
	}
}

.btn--ghost {
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	* {
		color: #fff;
	}
}

.btn--ghost.btn--charcoal {
	border: 1px solid $cl-neutral-6;
	color: $cl-neutral-6;
	* {
		color: $cl-neutral-6;
	}
}

.btn--ghost.btn--primary, .btn--ghost.btn--blue {
	border: 1px solid $cl-primary-2;
	color: $cl-secondary-2;
	* {
		color: $cl-secondary-2;
	}
}


.btn--hover.btn:hover {
	background-color: $cl-primary-2;
	color: #fff;
	* {
		color: #fff;
	}
}

.btn--hover.btn--blue:hover, .btn--hover.btn--primary:hover {
	background-color: $cl-neutral-3;
	color: $cl-neutral-6;
	* {
		color: $cl-neutral-6;
	}
}

.btn--hover.btn--ghost.btn--charcoal:hover {
	border-color: $cl-primary-2;
	color: $cl-primary-2;
	background-color: rgba(0, 0, 0, 0);
	* {
		color: $cl-primary-2;
	}
}

.btn--hover.btn--ghost.btn--primary:hover, .btn--hover.btn--ghost.btn--blue:hover {
	border-color: $cl-neutral-6;
	color: $cl-neutral-6;
	background-color: rgba(0, 0, 0, 0);
	* {
		color: $cl-neutral-6;
	}
}


.btn--sm {
	min-width: 100px;
	padding: 5px 20px;
}

.btn--lg {
	width: 200px;
}

.btn--disabled {
	opacity: .5;
	cursor: not-allowed;
}


/* ==========================================================================
    ICONS
   ==========================================================================

File Contents:
	-General Icons
	-Logos
	-App Stores
	-
	-Icons Circles
	-Icon Sizes

*/

//TODO: Update to include all of the icons that we have.

/* HOW TO: To insert an icon from below use the <i> tag and the class of the icon you want to insert. To change the size use one of the size classes (i-sm, i-md, i-lg). Ex: <i class='i-robocop i-lg'></i> */


.i-icons {
	display: block;
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
}


.i-test {
	background: url(/img/Template.svg) no-repeat top left;
	@extend .i-icons;
}


/* ==========================================================================
    $GENERAL ICONS
   ========================================================================== */

//TODO: change circles to new format
.i-smile-circle--blue {
	background: url(#{$cdn-path}/icons/smile-circle--blue.svg) no-repeat top left;
	@extend .i-icons;
}

.i-smile-circle--charcoal {
	background: url(#{$cdn-path}/icons/smile-circle--charcoal.svg) no-repeat top left;
	@extend .i-icons;
}

.i-smile-circle--white {
	background: url(#{$cdn-path}/icons/smile-circle--white.svg) no-repeat top left;
	@extend .i-icons;
}

.i-frown-circle--blue {
	background: url(#{$cdn-path}/icons/frown-circle--blue.svg) no-repeat top left;
	@extend .i-icons;
}

.i-frown-circle--charcoal {
	background: url(#{$cdn-path}/icons/frown-circle--charcoal.svg) no-repeat top left;
	@extend .i-icons;
}

.i-frown-circle--white {
	background: url(#{$cdn-path}/icons/frown-circle--white.svg) no-repeat top left;
	@extend .i-icons;
}



.i-pen-circle--blue {
	background: url(#{$cdn-path}/icons/pen-circle--blue.svg) no-repeat top left;
	@extend .i-icons;
}

.i-pen-circle--charcoal {
	background: url(#{$cdn-path}/icons/pen-circle--charcoal.svg) no-repeat top left;
	@extend .i-icons;
}

.i-pen-circle--white {
	background: url(#{$cdn-path}/icons/pen-circle--white.svg) no-repeat top left;
	@extend .i-icons;
}


.i-plus-circle--blue {
	background: url(#{$cdn-path}/icons/plus-circle--blue.svg) no-repeat top left;
	@extend .i-icons;
}

.i-plus-circle--charcoal {
	background: url(#{$cdn-path}/icons/plus-circle--charcoal.svg) no-repeat top left;
	@extend .i-icons;
}

.i-plus-circle--white {
	background: url(#{$cdn-path}/icons/plus-circle--white.svg) no-repeat top left;
	@extend .i-icons;
}

.i-minus-circle--blue {
	background: url(#{$cdn-path}/icons/minus-circle--blue.svg) no-repeat top left;
	@extend .i-icons;
}

.i-minus-circle--charcoal {
	background: url(#{$cdn-path}/icons/minus-circle--charcoal.svg) no-repeat top left;
	@extend .i-icons;
}

.i-minus-circle--white {
	background: url(#{$cdn-path}/icons/minus-circle--white.svg) no-repeat top left;
	@extend .i-icons;
}




//New

.i-lightbulb__plain--blue {
	background: url(#{$cdn-path}/icons/lightbulb__plain--blue.svg) no-repeat top left;
	@extend .i-icons;
}

.i-lightbulb__plain--charcoal {
	background: url(#{$cdn-path}/icons/lightbulb__plain--charcoal.svg) no-repeat top left;
	@extend .i-icons;
}

.i-lightbulb__plain--white {
	background: url(#{$cdn-path}/icons/lightbulb__plain--white.svg) no-repeat top left;
	@extend .i-icons;
}

.i-cash--blue {
	background: url(#{$cdn-path}/icons/cash--blue.svg) no-repeat top left;
	@extend .i-icons;
}

.i-cash--charcoal {
	background: url(#{$cdn-path}/icons/cash--charcoal.svg) no-repeat top left;
	@extend .i-icons;
}

.i-cash--white {
	background: url(#{$cdn-path}/icons/cash--white.svg) no-repeat top left;
	@extend .i-icons;
}

.i-lego--blue {
	background: url(#{$cdn-path}/icons/lego--blue.svg) no-repeat top left;
	@extend .i-icons;
}

.i-lego--charcoal {
	background: url(#{$cdn-path}/icons/lego--charcoal.svg) no-repeat top left;
	@extend .i-icons;
}

.i-lego--white {
	background: url(#{$cdn-path}/icons/lego--white.svg) no-repeat top left;
	@extend .i-icons;
}

.i-mustache--blue {
	background: url(#{$cdn-path}/icons/mustache--blue.svg) no-repeat top left;
	@extend .i-icons;
}

.i-mustache--charcoal {
	background: url(#{$cdn-path}/icons/mustache--charcoal.svg) no-repeat top left;
	@extend .i-icons;
}

.i-mustache--white {
	background: url(#{$cdn-path}/icons/mustache--white.svg) no-repeat top left;
	@extend .i-icons;
}

.i-truck--blue {
	background: url(#{$cdn-path}/icons/truck--blue.svg) no-repeat top left;
	@extend .i-icons;
}

.i-truck--charcoal {
	background: url(#{$cdn-path}/icons/truck--charcoal.svg) no-repeat top left;
	@extend .i-icons;
}

.i-truck--white {
	background: url(#{$cdn-path}/icons/truck--white.svg) no-repeat top left;
	@extend .i-icons;
}

.i-fundera {
	background: url() no-repeat top left;
	@extend .i-icons;
	height: 30px;
	width: 200px;
}

.i-advisor--male {
	background: url(https://s3-us-west-2.amazonaws.com/creditera-assets/images/nav/call-agent--male.png) no-repeat top left;
	@extend .i-icons;
}

.i-advisor--female {
	background: url(https://s3-us-west-2.amazonaws.com/creditera-assets/images/nav/call-agent--female.png) no-repeat top left;
	@extend .i-icons;
}



/* ==========================================================================
    $LOGOS
   ========================================================================== */

.i-logo, .i-logo--cyan {
	background: url(#{$cdn-path}/images/logo-cyan.svg) no-repeat top left;
	@extend .i-icons;
}

.i-logo--gray {
	background: url(#{$cdn-path}/images/logo-gray.svg) no-repeat top left;
	@extend .i-icons;
}

.i-logo--light {
	background: url(#{$cdn-path}/images/logo-light.svg) no-repeat top left;
	@extend .i-icons;
}

.i-logo--white {
	background: url(#{$cdn-path}/images/logo-white.svg) no-repeat top left;
	@extend .i-icons;
}


.i-logo-name--cyan {
	background: url(#{$cdn-path}/images/nav/logo-name-blue.svg) no-repeat top left;
	@extend .i-icons;
}

.i-logo-name--white {
	background: url(#{$cdn-path}/images/nav/logo-name-white.svg) no-repeat top left;
	@extend .i-icons;
}


/* ==========================================================================
    $SECTION IN ALL CAPS
   ========================================================================== */

.i-applestore {
	background: url(/img/icons/app-stores/apple-store.png) no-repeat top left;
	@extend .i-icons;
	height: auto;
}

.i-googleplay {
	background: url(/img/icons/app-stores/play-store.png) no-repeat top left;
	@extend .i-icons;
	height: auto !important;
}




/* ==========================================================================
    $ICON CIRCLES
   ========================================================================== */

[class*='i-'][class*='--white'].i-circle {
	border-radius: 50%;
	border: 2px solid white;
	background-size: 60% !important;
	background-position: center;
}

[class*='i-'][class*='--blue'].i-circle {
	border-radius: 50%;
	border: 2px solid $cl-primary-2;
	background-size: 60% !important;
	background-position: center;
}

[class*='i-'][class*='--charcoal'].i-circle {
	border-radius: 50%;
	border: 2px solid $cl-neutral-6;
	background-size: 60% !important;
	background-position: center;
}

[class*='i-'].i-circle.i-thin {
	border-width: 1px;
}
[class*='i-'].i-circle.i-normal {
	border-width: 2px;
}
[class*='i-'].i-circle.i-thick {
	border-width: 4px;
}


/* ==========================================================================
    $ICONS SIZES
   ========================================================================== */

.i-sm {
	height: 20px;
	width: 20px;
	background-size: 20px 20px;
}

.i-md {
	height: 40px;
	width: 40px;
	background-size: 40px 40px;
}

.i-lg {
	height: 80px;
	width: 80px;
	background-size: 80px 80px;
}

.i-xl {
	height: 160px;
	width: 160px;
	background-size: 160px 160px;
}
