// TODO: OLD Style, Kill them eventually please.
// scss-lint:disable all

.white-bg {
  border: 1px solid  $cl-neutral-2;
  border-radius: 4px;
}

.account-heading,
.reactivation-header h4 {
  font-family: averta, helvetica, arial;
}

.account-heading {
  color: $cl-primary-2;
  background: #fff;
  padding: 0;
  margin: 8px 0;
}
