.c-profile-page__upgrade-cta {
  @include flex-container();
  flex-basis: 100%;
  padding-top: 16px;

  .c-btn {
    margin-left: auto;
  }
}

.c-profile-page__upgrade-text {
  @include flex-container();
  @include flex-item(300px, 1);
  padding: 16px;
  padding-top: 0;

  > p {
    @include flex-item(300px, 1);
    padding-right: 16px;

    @include if-screen-smaller-than(sm) {
      padding-right: 0;
    }
  }
}

.c-profile-no-business-owned-text {
  margin-bottom: 16px;
  padding: 16px;

  > p {
    font-size: 16px;
  }
}
