/* ==========================================================================
    CONTAINERS
   ========================================================================== */


   // TODO: OLD Style, Kill them eventually please.
   // scss-lint:disable all
/* ==========================================================================
    $SITE CONTAINERS
   ========================================================================== */


//TODO: Need to depreciate these and just use flex items instead.

/*  Responsive
   -------------------------------------------------------------------------- */

//NOTE: If you need a flex item to be the same size as a site container, do not use a site container instead use 'data-flex--item='site-container''

[data--site-container~='responsive'] {
	margin-left: auto;
	margin-right: auto;
	width: 95% !important;
	width: 95vw !important;
	max-width: $screen-large;
}
@media (max-width: $screen-large) {
	[data--site-container~='responsive'] {
		max-width: 95% !important;
		max-width: 95vw !important;
	}
}

/*  Full Width
   -------------------------------------------------------------------------- */

[data--site-container~='full-width'] {
	width: 100% !important;
	width: 100vw !important;
}
