/* ==========================================================================
    SPACING AND SIZING HELPERS
   ========================================================================== */

   // TODO: OLD Style, Kill them eventually please.
   // scss-lint:disable all


 /*  Flex Basis
    -------------------------------------------------------------------------- */

[data-flex--item~='basis--auto'] {
  flex-basis: auto;
}

[data-flex--item~='basis--10'] {
  flex-basis: 10px;
}

[data-flex--item~='basis--25'] {
  flex-basis: 25px;
}

[data-flex--item~='basis--50'] {
  flex-basis: 50px;
}

[data-flex--item~='basis--80'] {
  flex-basis: 80px;
}

[data-flex--item~='basis--90'] {
  flex-basis: 90px;
}

[data-flex--item~='basis--100'] {
  flex-basis: 100px;
}

[data-flex--item~='basis--125'] {
  flex-basis: 125px;
}

[data-flex--item~='basis--150'] {
  flex-basis: 150px;
}

[data-flex--item~='basis--175'] {
  flex-basis: 175px;
}

[data-flex--item~='basis--200'] {
  flex-basis: 200px;
}

[data-flex--item~='basis--225'] {
  flex-basis: 225px;
}

[data-flex--item~='basis--250'] {
  flex-basis: 250px;
}

[data-flex--item~='basis--275'] {
  flex-basis: 275px;
}

[data-flex--item~='basis--300'] {
  flex-basis: 300px;
}

[data-flex--item~='basis--350'] {
  flex-basis: 350px;
}

[data-flex--item~='basis--400'] {
  flex-basis: 400px;
}

[data-flex--item~='basis--450'] {
  flex-basis: 450px;
}

[data-flex--item~='basis--500'] {
  flex-basis: 500px;
}

[data-flex--item~='basis--550'] {
  flex-basis: 550px;
}

[data-flex--item~='basis--600'] {
  flex-basis: 600px;
}

[data-flex--item~='basis--700'] {
  flex-basis: 700px;
}

[data-flex--item~='basis--800'] {
  flex-basis: 800px;
}


/*  Max Widths
   -------------------------------------------------------------------------- */

//NOTE: Max widths that are set in percentages are disable on small screens due to the fact that it could create objects that are too small.



[data-flex--item~='max--150'] {
  max-width: 150px;
}

[data-flex--item~='max--300'] {
  max-width: 300px;
}

[data-flex--item~='max--500'] {
  max-width: 500px;
}

[data-flex--item~='max--600'] {
  max-width: 600px;
}


/*  Grow
   -------------------------------------------------------------------------- */

[data-flex--item~='grow--0'] {
  flex-grow: 0;
}

[data-flex--item~='grow--1'] {
  flex-grow: 1;
}

[data-flex--item~='grow--2'] {
  flex-grow: 2;
}

[data-flex--item~='grow--3'] {
  flex-grow: 3;
}

[data-flex--item~='grow--4'] {
  flex-grow: 4;
}

[data-flex--item~='grow--5'] {
  flex-grow: 5;
}


/*  Shrink
   -------------------------------------------------------------------------- */

[data-flex--item~='shrink--0'] {
  flex-shrink: 0;
}

/* ==========================================================================
    $MARGINS
   ========================================================================== */


 /*  All Sides
    -------------------------------------------------------------------------- */

[data-flex--item~='m--none'] {
	margin: 0 !important;
}
[data-flex--item~='m--xs'] {
	@include margin(4px);
}
[data-flex--item~='m--sm'] {
	@include margin(8px);
}
[data-flex--item~='m--md'] {
	@include margin(16px);
}
[data-flex--item~='m--lg'] {
	@include margin(24px);
}


/*  Top
   -------------------------------------------------------------------------- */

[data-flex--item~='m-t--none'] {
	margin-top: 0 !important;
}
[data-flex--item~='m-t--xs'] {
	@include margin(4px, top);
}
[data-flex--item~='m-t--sm'] {
	@include margin(8px, top);
}
[data-flex--item~='m-t--md'] {
	@include margin(16px, top);
}
[data-flex--item~='m-t--lg'] {
	@include margin(24px, top);
}
[data-flex--item~='m-t--xl'] {
	@include margin(32px, top);
}
[data-flex--item~='m-t--xxl'] {
	@include margin(40px, top);
}
[data-flex--item~='m-t--3xl'] {
	@include margin(64px, top);
}

/*  Bottom
   -------------------------------------------------------------------------- */

[data-flex--item~='m-b--none'] {
	margin-bottom: 0 !important;
}
[data-flex--item~='m-b--sm'] {
	@include margin(8px, bottom);
}
[data-flex--item~='m-b--md'] {
	@include margin(16px, bottom);
}
[data-flex--item~='m-b--lg'] {
	@include margin(24px, bottom);
}
[data-flex--item~='m-b--xl'] {
	@include margin(32px, bottom);
}
[data-flex--item~='m-b--xxl'] {
	@include margin(40px, bottom);
}

/*  Sides (X-Axis)
   -------------------------------------------------------------------------- */

[data-flex--item~='m-x--none'] {
	margin-right: 0 !important;
	margin-left: 0 !important;
}
[data-flex--item~='m-x--xs'] {
	@include margin(4px, x);
}
[data-flex--item~='m-x--sm'] {
	@include margin(8px, x);
}
[data-flex--item~='m-x--md'] {
	@include margin(16px, x);
}
[data-flex--item~='m-x--lg'] {
	@include margin(24px, x);
}
[data-flex--item~='m-x--xl'] {
	@include margin(32px, x);
}
[data-flex--item~='m-x--xxl'] {
	@include margin(40px, x);
}


/*=----------| Negative |----------=*/

[data-flex--item~='m-x--sm-negative'] {
	@include margin(-8px, x);
}
[data-flex--item~='m-x--md-negative'] {
	@include margin(-16px, x);
}
[data-flex--item~='m-x--lg-negative'] {
	@include margin(-24px, x);
}

/*  Top and Bottom (Y-Axis)
   -------------------------------------------------------------------------- */

[data-flex--item~='m-y--sm'] {
	@include margin(8px, y);
}
[data-flex--item~='m-y--md'] {
	@include margin(16px, y);
}
[data-flex--item~='m-y--lg'] {
	@include margin(24px, y);
}

/*  Left
   -------------------------------------------------------------------------- */

[data-flex--item~='m-l--md'] {
	@include margin(16px, left);
}
[data-flex--item~='m-l--lg'] {
	@include margin(24px, left);
}


/*  Right
   -------------------------------------------------------------------------- */

[data-flex--item~='m-r--xs'] {
	@include margin(4px, right);
}
[data-flex--item~='m-r--sm'] {
	@include margin(8px, right);
}
[data-flex--item~='m-r--md'] {
	@include margin(16px, right);
}
[data-flex--item~='m-r--lg'] {
	@include margin(24px, right);
}
[data-flex--item~='m-r--xl'] {
	@include margin(32px, right);
}

/* ==========================================================================
    $PADDING
   ========================================================================== */


 /*  All Sides
    -------------------------------------------------------------------------- */

[data-flex--item~='p--none'] {
	padding: 0 !important;
}
[data-flex--item~='p--xs'] {
	@include padding(4px);
}
[data-flex--item~='p--sm'] {
	@include padding(8px);
}
[data-flex--item~='p--md'] {
	@include padding(16px);
}
[data-flex--item~='p--lg'] {
	@include padding(24px);
}
[data-flex--item~='p--xl'] {
	@include padding(32px);
}
[data-flex--item~='p--xxl'] {
	@include padding(40px);
}
[data-flex--item~='p--3xl'] {
	@include padding(64px);
}
[data-flex--item~='p--4xl'] {
	@include padding(92px);
}
[data-flex--item~='p--5xl'] {
	@include padding(128px);
}


/*  Top
   -------------------------------------------------------------------------- */

[data-flex--item~='p-t--none'] {
	padding-top: 0 !important;
}
[data-flex--item~='p-t--xs'] {
	@include padding(4px, top);
}
[data-flex--item~='p-t--sm'] {
	@include padding(8px, top);
}
[data-flex--item~='p-t--md'] {
	@include padding(16px, top);
}
[data-flex--item~='p-t--lg'] {
	@include padding(24px, top);
}
[data-flex--item~='p-t--xl'] {
	@include padding(32px, top);
}
[data-flex--item~='p-t--xxl'] {
	@include padding(40px, top);
}
[data-flex--item~='p-t--3xl'] {
	@include padding(64px, top);
}
[data-flex--item~='p-t--4xl'] {
	@include padding(92px, top);
}
[data-flex--item~='p-t--5xl'] {
	@include padding(128px, top);
}



/*  Bottom
   -------------------------------------------------------------------------- */

[data-flex--item~='p-b--none'] {
	padding-bottom: 0 !important;
}
[data-flex--item~='p-b--xs'] {
	@include padding(4px, bottom);
}
[data-flex--item~='p-b--sm'] {
	@include padding(8px, bottom);
}
[data-flex--item~='p-b--md'] {
	@include padding(16px, bottom);
}
[data-flex--item~='p-b--lg'] {
	@include padding(24px, bottom);
}



/*  Sides (X-Axis)
   -------------------------------------------------------------------------- */

[data-flex--item~='p-x--none'] {
	padding-right: 0 !important;
	padding-left: 0 !important;
}
[data-flex--item~='p-x--xs'] {
	@include padding(4px, x);
}
[data-flex--item~='p-x--sm'] {
	@include padding(8px, x);
}
[data-flex--item~='p-x--md'] {
	@include padding(16px, x);
}
[data-flex--item~='p-x--lg'] {
	@include padding(24px, x);
}
[data-flex--item~='p-x--xl'] {
	@include padding(32px, x);
}
[data-flex--item~='p-x--xxl'] {
	@include padding(40px, x);
}
[data-flex--item~='p-x--3xl'] {
	@include padding(64px, x);
}
[data-flex--item~='p-x--4xl'] {
	@include padding(92px, x);
}
[data-flex--item~='p-x--5xl'] {
	@include padding(128px, x);
}


/*  Top and Bottom (Y-Axis)
   -------------------------------------------------------------------------- */

[data-flex--item~='p-y--none'] {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
[data-flex--item~='p-y--xs'] {
	@include padding(4px, y);
}
[data-flex--item~='p-y--sm'] {
	@include padding(8px, y);
}
[data-flex--item~='p-y--md'] {
	@include padding(16px, y);
}
[data-flex--item~='p-y--lg'] {
	@include padding(24px, y);
}
[data-flex--item~='p-y--xl'] {
	@include padding(32px, y);
}
[data-flex--item~='p-y--xxl'] {
	@include padding(40px, y);
}
[data-flex--item~='p-y--3xl'] {
	@include padding(64px, y);
}
[data-flex--item~='p-y--4xl'] {
	@include padding(92px, y);
}
[data-flex--item~='p-y--5xl'] {
	@include padding(128px, y);
}


/*  Left
   -------------------------------------------------------------------------- */

[data-flex--item~='p-l--none'] {
	padding-left: 0 !important;
}
[data-flex--item~='p-l--xs'] {
	@include padding(4px, left);
}
[data-flex--item~='p-l--sm'] {
	@include padding(8px, left);
}
[data-flex--item~='p-l--md'] {
	@include padding(16px, left);
}
[data-flex--item~='p-l--lg'] {
	@include padding(24px, left);
}
[data-flex--item~='p-l--xl'] {
	@include padding(32px, left);
}
[data-flex--item~='p-l--xxl'] {
	@include padding(40px, left);
}
[data-flex--item~='p-l--3xl'] {
	@include padding(64px, left);
}
[data-flex--item~='p-l--4xl'] {
	@include padding(92px, left);
}
[data-flex--item~='p-l--5xl'] {
	@include padding(128px, left);
}


/*  Right
   -------------------------------------------------------------------------- */

[data-flex--item~='p-r--none'] {
	padding-right: 0 !important;
}
[data-flex--item~='p-r--xs'] {
	@include padding(4px, right);
}
[data-flex--item~='p-r--sm'] {
	@include padding(8px, right);
}
[data-flex--item~='p-r--md'] {
	@include padding(16px, right);
}
[data-flex--item~='p-r--lg'] {
	@include padding(24px, right);
}
[data-flex--item~='p-r--xl'] {
	@include padding(32px, right);
}
[data-flex--item~='p-r--xxl'] {
	@include padding(40px, right);
}
[data-flex--item~='p-r--3xl'] {
	@include padding(64px, right);
}
[data-flex--item~='p-r--4xl'] {
	@include padding(92px, right);
}
[data-flex--item~='p-r--5xl'] {
	@include padding(128px, right);
}
