/* ==========================================================================
    VISIBILITY
   ========================================================================== */

   // TODO: OLD Style, Kill them eventually please.
   // scss-lint:disable all

/* ==========================================================================
    $BY SCREEN SIZE
   ========================================================================== */


@include if-screen-smaller-than(sm) {
  [data-flex--item~='hide--sm'] {
    display: none!important;
  }
}



/* ==========================================================================
    $BY CLASS
   ========================================================================== */


//NOTE: While there are classes for these use them in data-flex--item='' instead.

[data-flex--item~='none'], .none {
  display: none;
}

[data-flex--item~='block'], .block {
  display: block;
}

[data-flex--item~='hidden'], .hidden {
  visibility: hidden;
}

[data-flex--item~='show'], .show {
  visibility: visible;
}
